.destination-list {
  flex: 1;
  margin-bottom: calc(var(--base-grid-multiplier) * 20);
  overflow-y: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: var(--spacing-4);

    h1 {
      margin-top: 0;
      margin-bottom: var(--spacing-4);
    }
  }

  &__actions {
    display: flex;
    gap: var(--spacing-2);

    *:last-child {
      margin-left: auto;
    }
  }

  &__topics-tooltip {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2) var(--spacing-2);
    align-items: center;
  }
}

.destination-list__empty-state {
  display: flex;
  justify-content: center;
  border: 1px dashed var(--colors-outline-neutral);
  border-radius: var(--radius-m);
  padding: var(--spacing-14);
}

.dropdown-item {
  display: block;
  padding: calc(var(--spacing-2) - 2px) var(--spacing-2);
}
