.destination-list {
  &__header {
    margin-bottom: var(--spacing-4);

    h1 {
      margin-top: var(--spacing-10);
      margin-bottom: var(--spacing-4);
    }
  }

  &__actions {
    display: flex;
    gap: var(--spacing-2);

    *:last-child {
      margin-left: auto;
    }
  }

  &__topics-tooltip {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-2) var(--spacing-2);
    align-items: center;
  }
}
