<div class="wrapper">
  <div class="card">
    <span class="time regular-s">10:16:55 user.created</span>
    <span class="badge badge-primary regular-s">Pending</span>
  </div>
  <div class="card">
    <span class="time regular-s">10:16:59 user.created</span>
    <span class="badge badge-primary regular-s">Pending</span>
  </div>
  <div class="card">
    <span class="time regular-s">10:17:22 user.created</span>
    <span class="badge badge-success regular-s">DELIVERED</span>
  </div>
</div>

<style>
  .wrapper {
    position: relative;
    padding: var(--spacing-8);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 44px - 8px);
      background: linear-gradient(
        180deg,
        #141412 0%,
        rgba(20, 20, 18, 0.75) 100%
      );
    }
  }
  .card {
    padding-right: var(--spacing-3);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .time {
      color: var(--foreground-neutral-2);
    }
  }
</style>
