<div class="wrapper">
  <svg
    width="356"
    height="120"
    viewBox="0 0 356 120"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M178 41V71" stroke="#353533" stroke-width="2"></path>
    <path
      d="M178 41V41C178 49.8366 185.163 57 194 57H288C295.732 57 302 63.268 302 71V71"
      stroke="#353533"
      stroke-width="2"></path>
    <path
      d="M178 41V41C178 49.8366 170.837 57 162 57H68C60.268 57 54 63.268 54 71V71"
      stroke="#353533"
      stroke-width="2"></path>
    <g filter="url(#filter0_dddd_725_56)">
      <rect x="136" y="4" width="84" height="36" rx="18" fill="#1D1D1B"></rect>
      <path
        d="M152.609 27.14C151.694 27.14 150.971 26.874 150.439 26.342C149.907 25.81 149.641 25.0493 149.641 24.06V19.72C149.641 18.7307 149.907 17.97 150.439 17.438C150.971 16.906 151.694 16.64 152.609 16.64C153.524 16.64 154.247 16.906 154.779 17.438C155.311 17.97 155.577 18.726 155.577 19.706V24.06C155.577 25.0493 155.311 25.81 154.779 26.342C154.247 26.874 153.524 27.14 152.609 27.14ZM152.609 26.006C153.16 26.006 153.58 25.852 153.869 25.544C154.168 25.2267 154.317 24.7787 154.317 24.2V19.58C154.317 19.0013 154.168 18.558 153.869 18.25C153.58 17.9327 153.16 17.774 152.609 17.774C152.068 17.774 151.648 17.9327 151.349 18.25C151.05 18.558 150.901 19.0013 150.901 19.58V24.2C150.901 24.7787 151.05 25.2267 151.349 25.544C151.648 25.852 152.068 26.006 152.609 26.006ZM161.074 27.14C160.122 27.14 159.394 26.8787 158.89 26.356C158.386 25.824 158.134 25.1053 158.134 24.2V16.78H159.394V24.2C159.394 24.76 159.529 25.2033 159.8 25.53C160.08 25.8567 160.504 26.02 161.074 26.02C161.634 26.02 162.054 25.8567 162.334 25.53C162.614 25.2033 162.754 24.76 162.754 24.2V16.78H164.014V24.2C164.014 25.1147 163.762 25.8333 163.258 26.356C162.763 26.8787 162.035 27.14 161.074 27.14ZM168.908 27V17.928H166.108V16.78H172.968V17.928H170.168V27H168.908ZM175.091 27V16.78H178.381C179.333 16.78 180.089 17.0553 180.649 17.606C181.218 18.1473 181.503 18.8753 181.503 19.79C181.503 20.7047 181.218 21.4373 180.649 21.988C180.089 22.5293 179.333 22.8 178.381 22.8H176.351V27H175.091ZM176.351 21.666H178.381C178.931 21.666 179.37 21.498 179.697 21.162C180.033 20.8167 180.201 20.3593 180.201 19.79C180.201 19.2113 180.033 18.754 179.697 18.418C179.37 18.082 178.931 17.914 178.381 17.914H176.351V21.666ZM186.467 27.14C185.553 27.14 184.829 26.874 184.297 26.342C183.765 25.81 183.499 25.0493 183.499 24.06V19.72C183.499 18.7307 183.765 17.97 184.297 17.438C184.829 16.906 185.553 16.64 186.467 16.64C187.382 16.64 188.105 16.906 188.637 17.438C189.169 17.97 189.435 18.726 189.435 19.706V24.06C189.435 25.0493 189.169 25.81 188.637 26.342C188.105 26.874 187.382 27.14 186.467 27.14ZM186.467 26.006C187.018 26.006 187.438 25.852 187.727 25.544C188.026 25.2267 188.175 24.7787 188.175 24.2V19.58C188.175 19.0013 188.026 18.558 187.727 18.25C187.438 17.9327 187.018 17.774 186.467 17.774C185.926 17.774 185.506 17.9327 185.207 18.25C184.909 18.558 184.759 19.0013 184.759 19.58V24.2C184.759 24.7787 184.909 25.2267 185.207 25.544C185.506 25.852 185.926 26.006 186.467 26.006ZM194.988 27.14C193.998 27.14 193.21 26.8787 192.622 26.356C192.034 25.8333 191.74 25.1147 191.74 24.2H193C193 24.7693 193.182 25.2173 193.546 25.544C193.91 25.8613 194.39 26.02 194.988 26.02C195.566 26.02 196.028 25.852 196.374 25.516C196.719 25.18 196.892 24.7413 196.892 24.2C196.892 23.7893 196.78 23.4347 196.556 23.136C196.341 22.828 196.028 22.618 195.618 22.506L194.064 22.072C193.42 21.8853 192.911 21.554 192.538 21.078C192.174 20.5927 191.992 20.0233 191.992 19.37C191.992 18.8287 192.113 18.3527 192.356 17.942C192.598 17.5313 192.939 17.214 193.378 16.99C193.816 16.7567 194.32 16.64 194.89 16.64C195.468 16.64 195.977 16.7567 196.416 16.99C196.864 17.214 197.214 17.5313 197.466 17.942C197.718 18.3433 197.844 18.81 197.844 19.342H196.584C196.584 18.8753 196.425 18.4973 196.108 18.208C195.79 17.9093 195.384 17.76 194.89 17.76C194.395 17.76 193.994 17.9093 193.686 18.208C193.378 18.4973 193.224 18.8753 193.224 19.342C193.224 19.7153 193.322 20.0373 193.518 20.308C193.723 20.5693 194.008 20.7513 194.372 20.854L195.968 21.302C196.649 21.4887 197.176 21.8433 197.55 22.366C197.932 22.8793 198.124 23.4907 198.124 24.2C198.124 25.096 197.839 25.81 197.27 26.342C196.7 26.874 195.94 27.14 194.988 27.14ZM202.766 27V17.928H199.966V16.78H206.826V17.928H204.026V27H202.766Z"
        fill="#CCC8B8"></path>
    </g>
    <g filter="url(#filter1_dddd_725_56)">
      <rect x="8" y="72" width="92" height="36" rx="18" fill="#1D1D1B"></rect>
      <path
        d="M23.7469 95V85.928H20.9469V84.78H27.8069V85.928H25.0069V95H23.7469ZM30.0414 95V84.78H35.9214V85.928H31.2874V89.092H35.4314V90.212H31.2874V93.852H35.9214V95H30.0414ZM38.3659 95V84.78H40.0459L43.1679 93.53C43.1493 93.2967 43.1259 93.012 43.0979 92.676C43.0793 92.3307 43.0606 91.9713 43.0419 91.598C43.0326 91.2153 43.0279 90.856 43.0279 90.52V84.78H44.2459V95H42.5659L39.4579 86.25C39.4766 86.474 39.4953 86.7587 39.5139 87.104C39.5326 87.44 39.5466 87.7993 39.5559 88.182C39.5746 88.5553 39.5839 88.9147 39.5839 89.26V95H38.3659ZM46.2705 95L48.9305 84.78H50.6245L53.2705 95H51.9965L51.3245 92.284H48.2305L47.5585 95H46.2705ZM48.4825 91.22H51.0585L50.2745 88.07C50.1251 87.4727 50.0085 86.9733 49.9245 86.572C49.8405 86.1707 49.7891 85.9093 49.7705 85.788C49.7518 85.9093 49.7005 86.1707 49.6165 86.572C49.5325 86.9733 49.4158 87.468 49.2665 88.056L48.4825 91.22ZM55.295 95V84.78H56.975L60.097 93.53C60.0783 93.2967 60.055 93.012 60.027 92.676C60.0083 92.3307 59.9897 91.9713 59.971 91.598C59.9617 91.2153 59.957 90.856 59.957 90.52V84.78H61.175V95H59.495L56.387 86.25C56.4057 86.474 56.4243 86.7587 56.443 87.104C56.4617 87.44 56.4757 87.7993 56.485 88.182C56.5037 88.5553 56.513 88.9147 56.513 89.26V95H55.295ZM66.0695 95V85.928H63.2695V84.78H70.1295V85.928H67.3295V95H66.0695ZM72.9241 90.94V89.82H77.4041V90.94H72.9241ZM80.6886 95V93.852H83.4606V85.872L80.6886 87.944V86.502L82.9986 84.78H84.7206V93.852H86.9886V95H80.6886Z"
        fill="#CCC8B8"></path>
    </g>
    <g filter="url(#filter2_dddd_725_56)">
      <rect x="132" y="72" width="92" height="36" rx="18" fill="#1D1D1B"></rect>
      <path
        d="M147.747 95V85.928H144.947V84.78H151.807V85.928H149.007V95H147.747ZM154.041 95V84.78H159.921V85.928H155.287V89.092H159.431V90.212H155.287V93.852H159.921V95H154.041ZM162.366 95V84.78H164.046L167.168 93.53C167.149 93.2967 167.126 93.012 167.098 92.676C167.079 92.3307 167.061 91.9713 167.042 91.598C167.033 91.2153 167.028 90.856 167.028 90.52V84.78H168.246V95H166.566L163.458 86.25C163.477 86.474 163.495 86.7587 163.514 87.104C163.533 87.44 163.547 87.7993 163.556 88.182C163.575 88.5553 163.584 88.9147 163.584 89.26V95H162.366ZM170.27 95L172.93 84.78H174.624L177.27 95H175.996L175.324 92.284H172.23L171.558 95H170.27ZM172.482 91.22H175.058L174.274 88.07C174.125 87.4727 174.008 86.9733 173.924 86.572C173.84 86.1707 173.789 85.9093 173.77 85.788C173.752 85.9093 173.7 86.1707 173.616 86.572C173.532 86.9733 173.416 87.468 173.266 88.056L172.482 91.22ZM179.295 95V84.78H180.975L184.097 93.53C184.078 93.2967 184.055 93.012 184.027 92.676C184.008 92.3307 183.99 91.9713 183.971 91.598C183.962 91.2153 183.957 90.856 183.957 90.52V84.78H185.175V95H183.495L180.387 86.25C180.406 86.474 180.424 86.7587 180.443 87.104C180.462 87.44 180.476 87.7993 180.485 88.182C180.504 88.5553 180.513 88.9147 180.513 89.26V95H179.295ZM190.07 95V85.928H187.27V84.78H194.13V85.928H191.33V95H190.07ZM196.924 90.94V89.82H201.404V90.94H196.924ZM204.633 95V93.838L208.035 90.198C208.529 89.6753 208.879 89.2087 209.085 88.798C209.29 88.3873 209.393 87.986 209.393 87.594C209.393 87.034 209.229 86.5907 208.903 86.264C208.585 85.928 208.151 85.76 207.601 85.76C207.031 85.76 206.579 85.9327 206.243 86.278C205.916 86.614 205.753 87.0713 205.753 87.65H204.493C204.521 86.726 204.815 85.9933 205.375 85.452C205.935 84.9107 206.677 84.64 207.601 84.64C208.543 84.64 209.29 84.906 209.841 85.438C210.401 85.97 210.681 86.6933 210.681 87.608C210.681 88.0933 210.545 88.6067 210.275 89.148C210.013 89.6893 209.561 90.296 208.917 90.968L206.159 93.852H210.807V95H204.633Z"
        fill="#CCC8B8"></path>
    </g>
    <g filter="url(#filter3_dddd_725_56)">
      <rect x="256" y="72" width="92" height="36" rx="18" fill="#1D1D1B"></rect>
      <path
        d="M271.747 95V85.928H268.947V84.78H275.807V85.928H273.007V95H271.747ZM278.041 95V84.78H283.921V85.928H279.287V89.092H283.431V90.212H279.287V93.852H283.921V95H278.041ZM286.366 95V84.78H288.046L291.168 93.53C291.149 93.2967 291.126 93.012 291.098 92.676C291.079 92.3307 291.061 91.9713 291.042 91.598C291.033 91.2153 291.028 90.856 291.028 90.52V84.78H292.246V95H290.566L287.458 86.25C287.477 86.474 287.495 86.7587 287.514 87.104C287.533 87.44 287.547 87.7993 287.556 88.182C287.575 88.5553 287.584 88.9147 287.584 89.26V95H286.366ZM294.27 95L296.93 84.78H298.624L301.27 95H299.996L299.324 92.284H296.23L295.558 95H294.27ZM296.482 91.22H299.058L298.274 88.07C298.125 87.4727 298.008 86.9733 297.924 86.572C297.84 86.1707 297.789 85.9093 297.77 85.788C297.752 85.9093 297.7 86.1707 297.616 86.572C297.532 86.9733 297.416 87.468 297.266 88.056L296.482 91.22ZM303.295 95V84.78H304.975L308.097 93.53C308.078 93.2967 308.055 93.012 308.027 92.676C308.008 92.3307 307.99 91.9713 307.971 91.598C307.962 91.2153 307.957 90.856 307.957 90.52V84.78H309.175V95H307.495L304.387 86.25C304.406 86.474 304.424 86.7587 304.443 87.104C304.462 87.44 304.476 87.7993 304.485 88.182C304.504 88.5553 304.513 88.9147 304.513 89.26V95H303.295ZM314.07 95V85.928H311.27V84.78H318.13V85.928H315.33V95H314.07ZM320.924 90.94V89.82H325.404V90.94H320.924ZM331.475 95.14C330.532 95.14 329.785 94.8787 329.235 94.356C328.684 93.824 328.409 93.1053 328.409 92.2H329.669C329.669 92.76 329.832 93.2033 330.159 93.53C330.485 93.8567 330.929 94.02 331.489 94.02C332.049 94.02 332.492 93.8567 332.819 93.53C333.145 93.2033 333.309 92.76 333.309 92.2V91.5C333.309 90.94 333.145 90.4967 332.819 90.17C332.492 89.8433 332.049 89.68 331.489 89.68H330.383V88.588L332.889 85.928H328.689V84.78H334.317V85.956L331.853 88.574C332.693 88.6393 333.355 88.9333 333.841 89.456C334.326 89.9693 334.569 90.6507 334.569 91.5V92.2C334.569 93.1053 334.289 93.824 333.729 94.356C333.178 94.8787 332.427 95.14 331.475 95.14Z"
        fill="#CCC8B8"></path>
    </g>
    <defs>
      <filter
        id="filter0_dddd_725_56"
        x="128"
        y="0"
        width="100"
        height="52"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feMorphology
          radius="1"
          operator="dilate"
          in="SourceAlpha"
          result="effect1_dropShadow_725_56"></feMorphology>
        <feOffset></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_725_56"
          result="effect2_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="2"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_725_56"
          result="effect3_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="-1"></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.04 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_725_56"
          result="effect4_dropShadow_725_56"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect4_dropShadow_725_56"
          result="shape"></feBlend>
      </filter>
      <filter
        id="filter1_dddd_725_56"
        x="0"
        y="68"
        width="108"
        height="52"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feMorphology
          radius="1"
          operator="dilate"
          in="SourceAlpha"
          result="effect1_dropShadow_725_56"></feMorphology>
        <feOffset></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_725_56"
          result="effect2_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="2"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_725_56"
          result="effect3_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="-1"></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.04 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_725_56"
          result="effect4_dropShadow_725_56"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect4_dropShadow_725_56"
          result="shape"></feBlend>
      </filter>
      <filter
        id="filter2_dddd_725_56"
        x="124"
        y="68"
        width="108"
        height="52"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feMorphology
          radius="1"
          operator="dilate"
          in="SourceAlpha"
          result="effect1_dropShadow_725_56"></feMorphology>
        <feOffset></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_725_56"
          result="effect2_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="2"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_725_56"
          result="effect3_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="-1"></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.04 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_725_56"
          result="effect4_dropShadow_725_56"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect4_dropShadow_725_56"
          result="shape"></feBlend>
      </filter>
      <filter
        id="filter3_dddd_725_56"
        x="248"
        y="68"
        width="108"
        height="52"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feMorphology
          radius="1"
          operator="dilate"
          in="SourceAlpha"
          result="effect1_dropShadow_725_56"></feMorphology>
        <feOffset></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="4"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_dropShadow_725_56"
          result="effect2_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="2"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect2_dropShadow_725_56"
          result="effect3_dropShadow_725_56"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="-1"></feOffset>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.04 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect3_dropShadow_725_56"
          result="effect4_dropShadow_725_56"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect4_dropShadow_725_56"
          result="shape"></feBlend>
      </filter>
    </defs>
  </svg>
</div>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);
    overflow: hidden;
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
    padding-top: var(--spacing-12);
    padding-bottom: var(--spacing-4);
    background: radial-gradient(50% 50% at 50% 50%, #1D1D1B 0%, rgba(29, 29, 27, 0.00) 100%);
  }
</style>
