<div class="wrapper">
  <svg width="406" height="168" viewBox="0 0 406 168" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 70H406" stroke="#353533"/>
    <path d="M0 10H406" stroke="#353533"/>
    <path d="M0 130H406" stroke="#353533"/>
    <path d="M53 0V168" stroke="#353533"/>
    <path d="M113 0V168" stroke="#353533"/>
    <path d="M173 0V168" stroke="#353533"/>
    <path d="M293 0V168" stroke="#353533"/>
    <path d="M233 0V168" stroke="#353533"/>
    <path d="M353 0V168" stroke="#353533"/>
    <g filter="url(#filter0_dddd_742_89)">
    <rect x="173" y="70" width="60" height="60" rx="6" fill="#1D1D1B"/>
    <g clip-path="url(#clip0_742_89)">
    <path d="M204.14 101.812C202.501 103.452 202.501 106.111 204.14 107.752C205.781 109.391 208.439 109.391 210.079 107.752C211.719 106.111 211.719 103.452 210.079 101.812C208.439 100.172 205.781 100.172 204.14 101.812ZM208.58 106.255C208.387 106.448 208.158 106.602 207.905 106.706C207.653 106.811 207.383 106.865 207.109 106.865C206.836 106.865 206.566 106.811 206.314 106.706C206.061 106.602 205.832 106.448 205.639 106.255C205.446 106.062 205.293 105.833 205.188 105.581C205.084 105.328 205.03 105.058 205.03 104.785C205.03 104.512 205.084 104.242 205.188 103.99C205.293 103.737 205.446 103.508 205.639 103.315C205.832 103.122 206.061 102.969 206.314 102.864C206.566 102.76 206.836 102.706 207.109 102.706C207.383 102.706 207.653 102.76 207.905 102.864C208.158 102.969 208.387 103.122 208.58 103.315C209.392 104.123 209.392 105.443 208.58 106.255ZM210.009 81.1475L207.436 83.7206C207.194 83.9647 207.058 84.2947 207.058 84.6386C207.058 84.9825 207.194 85.3125 207.436 85.5566L217.483 95.6031C217.727 95.8454 218.057 95.9813 218.4 95.9813C218.744 95.9813 219.074 95.8454 219.318 95.6031L221.892 93.0297C222.395 92.5266 222.395 91.6981 221.892 91.1953L211.841 81.1472C211.597 80.9055 211.268 80.7699 210.925 80.7699C210.582 80.7699 210.253 80.9058 210.009 81.1475ZM191.981 114.03C192.2 113.809 192.323 113.511 192.323 113.2C192.323 112.889 192.2 112.591 191.981 112.37L190.673 111.062C190.453 110.843 190.154 110.719 189.843 110.719C189.532 110.719 189.234 110.843 189.013 111.062L186.312 113.765L186.307 113.768L185.566 113.026C185.156 112.616 184.488 112.616 184.082 113.026C183.671 113.436 183.671 114.104 184.082 114.511L188.533 118.961C188.631 119.059 188.746 119.136 188.874 119.189C189.001 119.242 189.137 119.269 189.275 119.269C189.413 119.269 189.549 119.242 189.676 119.189C189.804 119.136 189.919 119.059 190.017 118.961C190.423 118.551 190.427 117.883 190.017 117.478L189.274 116.736L189.279 116.732L191.981 114.03Z" fill="#F5A800"/>
    <path d="M205.593 88.5353L199.876 94.2516C199.368 94.7594 199.368 95.5956 199.876 96.1035L203.406 99.6325C205.901 97.8369 209.4 98.0591 211.645 100.305L214.503 97.4463C215.01 96.9385 215.01 96.1035 214.503 95.5956L207.444 88.5353C207.322 88.4137 207.178 88.3173 207.019 88.2514C206.86 88.1856 206.69 88.1517 206.518 88.1517C206.347 88.1517 206.176 88.1856 206.018 88.2514C205.859 88.3173 205.714 88.4137 205.593 88.5353ZM201.922 101.12L199.837 99.0353C199.348 98.5472 198.548 98.5472 198.061 99.0353L190.707 106.392C190.473 106.628 190.341 106.947 190.341 107.28C190.341 107.613 190.473 107.933 190.707 108.169L194.873 112.335C195.11 112.57 195.429 112.701 195.762 112.701C196.095 112.701 196.415 112.57 196.651 112.335L201.38 107.598C200.38 105.533 200.559 103.038 201.922 101.12Z" fill="#425CC7"/>
    </g>
    </g>
    <defs>
    <filter id="filter0_dddd_742_89" x="165" y="66" width="76" height="76" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_742_89"/>
    <feOffset/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.16 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_742_89"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="4"/>
    <feGaussianBlur stdDeviation="4"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"/>
    <feBlend mode="normal" in2="effect1_dropShadow_742_89" result="effect2_dropShadow_742_89"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="2"/>
    <feGaussianBlur stdDeviation="2"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.32 0"/>
    <feBlend mode="normal" in2="effect2_dropShadow_742_89" result="effect3_dropShadow_742_89"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dy="-1"/>
    <feComposite in2="hardAlpha" operator="out"/>
    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.04 0"/>
    <feBlend mode="normal" in2="effect3_dropShadow_742_89" result="effect4_dropShadow_742_89"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect4_dropShadow_742_89" result="shape"/>
    </filter>
    <clipPath id="clip0_742_89">
    <rect width="40" height="40" fill="white" transform="translate(183 80)"/>
    </clipPath>
    </defs>
    </svg>
    
</div>

<style>
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(50% 46.43% at 50% 53.57%, rgba(20, 20, 18, 0.00) 0%, #141412 100%);
    }
  }
</style>
