<div class="wrapper">
  <div class="card">
    <span class="bold-m">Event destinations</span>
    <div class="search-wrapper">
      <div class="fake-search">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            d="M6.40049 10.4C5.28905 10.4 4.34444 10.0111 3.56666 9.23333C2.78888 8.45555 2.39999 7.51111 2.39999 6.39999C2.39999 5.28888 2.78888 4.34444 3.56666 3.56666C4.34444 2.78888 5.28888 2.39999 6.39999 2.39999C7.51111 2.39999 8.45555 2.78888 9.23333 3.56666C10.0111 4.34444 10.4 5.28905 10.4 6.40049C10.4 6.84927 10.3306 7.27249 10.1917 7.67016C10.0528 8.06783 9.86111 8.43333 9.61666 8.76666L13.1833 12.3333C13.3055 12.4556 13.3667 12.5944 13.3667 12.75C13.3667 12.9056 13.3055 13.0444 13.1833 13.1667C13.0611 13.2889 12.9194 13.35 12.7583 13.35C12.5972 13.35 12.4556 13.2889 12.3333 13.1667L8.76666 9.61666C8.43333 9.86111 8.06783 10.0528 7.67016 10.1917C7.27249 10.3306 6.84927 10.4 6.40049 10.4ZM6.39999 9.19999C7.17777 9.19999 7.83888 8.92777 8.38333 8.38333C8.92777 7.83888 9.19999 7.17777 9.19999 6.39999C9.19999 5.62222 8.92777 4.96111 8.38333 4.41666C7.83888 3.87222 7.17777 3.59999 6.39999 3.59999C5.62222 3.59999 4.96111 3.87222 4.41666 4.41666C3.87222 4.96111 3.59999 5.62222 3.59999 6.39999C3.59999 7.17777 3.87222 7.83888 4.41666 8.38333C4.96111 8.92777 5.62222 9.19999 6.39999 9.19999Z"
            fill="#7A786E"></path>
        </svg>
        <span class="regular-s">Filter...</span>
      </div>
      <div class="fake-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            d="M7.39998 8.60001V10.6C7.39998 10.77 7.45714 10.9125 7.57148 11.0275C7.68581 11.1425 7.82748 11.2 7.99648 11.2C8.16548 11.2 8.30831 11.1425 8.42498 11.0275C8.54164 10.9125 8.59998 10.77 8.59998 10.6V8.60001H10.6C10.77 8.60001 10.9125 8.54284 11.0275 8.42851C11.1425 8.31417 11.2 8.17251 11.2 8.00351C11.2 7.83451 11.1425 7.69167 11.0275 7.57501C10.9125 7.45834 10.77 7.40001 10.6 7.40001H8.59998V5.40001C8.59998 5.23001 8.54281 5.08751 8.42848 4.97251C8.31414 4.85751 8.17248 4.80001 8.00348 4.80001C7.83448 4.80001 7.69164 4.85751 7.57498 4.97251C7.45831 5.08751 7.39998 5.23001 7.39998 5.40001V7.40001H5.39998C5.22998 7.40001 5.08748 7.45717 4.97248 7.57151C4.85748 7.68584 4.79998 7.82751 4.79998 7.99651C4.79998 8.16551 4.85748 8.30834 4.97248 8.42501C5.08748 8.54167 5.22998 8.60001 5.39998 8.60001H7.39998ZM8.00464 14.4C7.12375 14.4 6.29442 14.2333 5.51664 13.9C4.73886 13.5667 4.05831 13.1083 3.47498 12.525C2.89164 11.9417 2.43331 11.2613 2.09998 10.484C1.76664 9.70667 1.59998 8.87612 1.59998 7.99234C1.59998 7.10856 1.76664 6.28056 2.09998 5.50834C2.43331 4.73612 2.89164 4.05834 3.47498 3.47501C4.05831 2.89167 4.73864 2.43334 5.51598 2.10001C6.29331 1.76667 7.12386 1.60001 8.00764 1.60001C8.89142 1.60001 9.71942 1.76667 10.4916 2.10001C11.2639 2.43334 11.9416 2.89167 12.525 3.47501C13.1083 4.05834 13.5666 4.73734 13.9 5.51201C14.2333 6.28678 14.4 7.11456 14.4 7.99534C14.4 8.87623 14.2333 9.70556 13.9 10.4833C13.5666 11.2611 13.1083 11.9417 12.525 12.525C11.9416 13.1083 11.2626 13.5667 10.488 13.9C9.7132 14.2333 8.88542 14.4 8.00464 14.4ZM7.99998 13.2C9.44442 13.2 10.6722 12.6945 11.6833 11.6833C12.6944 10.6722 13.2 9.44445 13.2 8.00001C13.2 6.55556 12.6944 5.32778 11.6833 4.31667C10.6722 3.30556 9.44442 2.80001 7.99998 2.80001C6.55553 2.80001 5.32775 3.30556 4.31664 4.31667C3.30553 5.32778 2.79998 6.55556 2.79998 8.00001C2.79998 9.44445 3.30553 10.6722 4.31664 11.6833C5.32775 12.6945 6.55553 13.2 7.99998 13.2Z"
            fill="#F5F4F1"></path>
        </svg>Add destination
      </div>
    </div>
    <div class="table">
      <div class="table-header">
        <div class="table-header-cell regular-xs">Type</div>
        <div class="table-header-cell regular-xs">Status</div>
        <div class="table-header-cell regular-xs">Success rate</div>
      </div>
      <div class="table-row">
        <div class="table-cell regular-s">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M4.79901 14.4C3.91401 14.4 3.15956 14.088 2.53567 13.464C1.9119 12.84 1.60001 12.0853 1.60001 11.2C1.60001 10.6222 1.7389 10.0861 2.01667 9.59166C2.29445 9.09722 2.68334 8.71111 3.18334 8.43333C3.38334 8.31111 3.58612 8.30833 3.79167 8.42499C3.99723 8.54166 4.10001 8.71744 4.10001 8.95233C4.10001 9.06977 4.06945 9.17649 4.00834 9.27249C3.94723 9.36861 3.86667 9.44444 3.76667 9.49999C3.46667 9.68888 3.23056 9.93022 3.05834 10.224C2.88612 10.5179 2.80001 10.8432 2.80001 11.2C2.80001 11.7555 2.99445 12.2278 3.38334 12.6167C3.77223 13.0056 4.24445 13.2 4.80001 13.2C5.35556 13.2 5.82778 13.0056 6.21667 12.6167C6.60556 12.2278 6.80001 11.7555 6.80001 11.2C6.80001 11.0333 6.86112 10.8917 6.98334 10.775C7.10556 10.6583 7.25001 10.6 7.41667 10.6H10.6667C10.7333 10.5333 10.8139 10.4833 10.9083 10.45C11.0028 10.4167 11.1 10.4 11.2 10.4C11.4222 10.4 11.6111 10.4778 11.7667 10.6333C11.9222 10.7889 12 10.9778 12 11.2C12 11.4222 11.9222 11.6111 11.7667 11.7667C11.6111 11.9222 11.4222 12 11.2 12C11.1 12 11.0028 11.9861 10.9083 11.9583C10.8139 11.9305 10.7333 11.8778 10.6667 11.8H7.95001C7.82778 12.5667 7.46667 13.1917 6.86667 13.675C6.26667 14.1583 5.57745 14.4 4.79901 14.4ZM4.80001 12C4.57778 12 4.3889 11.9222 4.23334 11.7667C4.07778 11.6111 4.00001 11.4222 4.00001 11.2C4.00001 11.0189 4.05001 10.8625 4.15001 10.7308C4.25001 10.5992 4.37778 10.5055 4.53334 10.45L6.16667 7.92099C5.84445 7.62922 5.60278 7.27777 5.44167 6.86666C5.28056 6.45555 5.20001 6.03333 5.20001 5.59999C5.20001 4.71466 5.51201 3.95999 6.13601 3.33599C6.76001 2.71199 7.51467 2.39999 8.40001 2.39999C9.12223 2.39999 9.76667 2.61666 10.3333 3.04999C10.9 3.48333 11.2778 4.04999 11.4667 4.74999C11.5222 4.93999 11.4901 5.11249 11.3703 5.26749C11.2506 5.42249 11.0938 5.49999 10.9 5.49999C10.7556 5.49999 10.6289 5.45199 10.52 5.35599C10.4112 5.2601 10.3379 5.14144 10.3 4.99999C10.1778 4.57777 9.94167 4.23888 9.59167 3.98333C9.24167 3.72777 8.84445 3.59999 8.40001 3.59999C7.84445 3.59999 7.37223 3.79444 6.98334 4.18333C6.59445 4.57222 6.40001 5.04444 6.40001 5.59999C6.40001 5.95555 6.48612 6.29166 6.65834 6.60833C6.83056 6.92499 7.07223 7.17222 7.38334 7.34999C7.50556 7.42777 7.5889 7.52777 7.63334 7.64999C7.67778 7.77222 7.66667 7.89444 7.60001 8.01666L5.60001 11.1333C5.60001 11.3667 5.52223 11.5694 5.36667 11.7417C5.21112 11.9139 5.02223 12 4.80001 12ZM11.1993 14.4C10.922 14.4 10.6528 14.3667 10.3917 14.3C10.1306 14.2333 9.88334 14.1333 9.65001 14C9.37223 13.8444 9.27223 13.6194 9.35001 13.325C9.42778 13.0306 9.61667 12.8833 9.91667 12.8833C10.0056 12.8833 10.0889 12.8944 10.1667 12.9167C10.2445 12.9389 10.3222 12.9722 10.4 13.0167C10.5222 13.0722 10.6494 13.1167 10.7815 13.15C10.9137 13.1833 11.0532 13.2 11.2 13.2C11.7556 13.2 12.2278 13.0056 12.6167 12.6167C13.0056 12.2278 13.2 11.7555 13.2 11.2C13.2 10.6444 13.0056 10.1722 12.6167 9.78333C12.2278 9.39444 11.7556 9.19999 11.2 9.19999C11.0222 9.19999 10.85 9.21666 10.6833 9.24999C10.5167 9.28333 10.3611 9.34999 10.2167 9.44999C10.0945 9.53888 9.96112 9.56111 9.81667 9.51666C9.67223 9.47222 9.56112 9.37777 9.48334 9.23333L8.05001 6.33333C7.90556 6.26666 7.79445 6.16666 7.71667 6.03333C7.6389 5.89999 7.60001 5.75555 7.60001 5.59999C7.60001 5.37777 7.67778 5.18888 7.83334 5.03333C7.9889 4.87777 8.17778 4.79999 8.40001 4.79999C8.62223 4.79999 8.81112 4.87777 8.96667 5.03333C9.12223 5.18888 9.20001 5.37777 9.20001 5.59999C9.20001 5.62222 9.19723 5.64722 9.19167 5.67499C9.18612 5.70277 9.18334 5.72777 9.18334 5.74999L10.3667 8.11666C10.5111 8.09444 10.65 8.06944 10.7833 8.04166C10.9167 8.01388 11.0556 7.99999 11.2 7.99999C12.0853 7.99999 12.84 8.31238 13.464 8.93716C14.088 9.56183 14.4 10.3174 14.4 11.2038C14.4 12.0902 14.088 12.8444 13.4638 13.4667C12.8397 14.0889 12.0849 14.4 11.1993 14.4Z"
              fill="#7A786E"></path>
          </svg>Webhook
        </div>
        <div class="table-cell">
          <span class="badge regular-s">Active</span>
        </div>
        <div class="table-cell regular-s">98.5%</div>
      </div>
      <div class="table-row">
        <div class="table-cell regular-s">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M12 0H4C1.79086 0 0 1.79086 0 4V12C0 14.2091 1.79086 16 4 16H12C14.2091 16 16 14.2091 16 12V4C16 1.79086 14.2091 0 12 0Z"
              fill="#0044CC"></path>
            <path
              d="M11.2126 6.78385C11.2136 6.78385 11.2146 6.78386 11.2156 6.78387C11.3534 6.7859 11.4381 6.99039 11.3406 7.08785L7.18062 11.2478C6.02862 12.3998 4.15662 12.3998 3.00462 11.2478C1.85263 10.0958 1.85263 8.22385 3.00462 7.07185L5.38862 4.68785C6.07662 3.99985 7.00462 3.72785 7.88462 3.85585C7.94862 3.87185 8.01263 3.91985 8.02863 3.98385C8.04463 4.04785 8.02862 4.12785 7.98062 4.17585L7.45263 4.70385C7.37263 4.78385 7.27662 4.83185 7.16462 4.84785C6.76462 4.91185 6.38062 5.08785 6.07662 5.39185L3.69263 7.77585C2.92463 8.54385 2.92463 9.79185 3.69263 10.5598C4.46063 11.3278 5.70862 11.3278 6.47662 10.5598L8.95662 8.07985C9.23056 7.80592 9.23056 7.36178 8.95662 7.08785C8.90862 7.03985 8.89262 6.95985 8.92462 6.89585C8.95662 6.83185 9.02062 6.78385 9.08462 6.78385H11.2126ZM6.90862 9.21585C6.9096 9.21585 6.91058 9.21584 6.91156 9.21583C7.04936 9.2138 7.13408 9.0093 7.03662 8.91185C6.76269 8.63792 6.76269 8.19378 7.03662 7.91985L9.51662 5.43985C10.2846 4.67185 11.5326 4.67185 12.3006 5.43985C13.0686 6.20785 13.0686 7.45585 12.3006 8.22385L9.91662 10.6078C9.61262 10.9118 9.22863 11.1039 8.82863 11.1519C8.71663 11.1679 8.62062 11.2158 8.54062 11.2959L8.01263 11.8238C7.96462 11.8718 7.94862 11.9518 7.96462 12.0159C7.98062 12.0799 8.04463 12.1278 8.10863 12.1438C8.98863 12.2718 9.93262 11.9999 10.6046 11.3119L12.9886 8.92785C14.1406 7.77585 14.1406 5.90385 12.9886 4.75185C11.8366 3.59985 9.96462 3.59985 8.81262 4.75185L4.65263 8.91185C4.60463 8.95985 4.58862 9.03985 4.62062 9.10385C4.65262 9.16785 4.71662 9.21585 4.78062 9.21585H6.90862Z"
              fill="white"></path>
          </svg>Hookdeck
        </div>
        <div class="table-cell">
          <span class="badge regular-s">Active</span>
        </div>
        <div class="table-cell regular-s">100%</div>
      </div>
      <div class="table-row">
        <div class="table-cell regular-s">
          <img src="/images/sqs-icon.svg" alt="AWS SQS" />
          AWS SQS
        </div>
        <div class="table-cell">
          <span class="badge badge-disabled regular-s">Disabled</span>
        </div>
        <div class="table-cell regular-s">N/A</div>
      </div>
      <div class="table-row">
        <div class="table-cell regular-s">
          <img src="/images/rabbitmq-icon.svg" alt="RabbitMQ" />
          RabbitMQ
        </div>
        <div class="table-cell">
          <span class="badge regular-s">Active</span>
        </div>
        <div class="table-cell regular-s">99.9%</div>
      </div>
      <div class="table-row">
        <div class="table-cell regular-s">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.1213 8.79019C9.5502 8.79019 9.03816 9.04323 8.68752 9.44161L7.78902 8.80554C7.8844 8.54294 7.93916 8.26096 7.93916 7.96583C7.93916 7.67581 7.88631 7.39856 7.79407 7.13984L8.69055 6.51051C9.04116 6.90688 9.55185 7.15855 10.1213 7.15855C11.1755 7.15855 12.0333 6.30091 12.0333 5.24658C12.0333 4.19226 11.1755 3.33462 10.1213 3.33462C9.06716 3.33462 8.20939 4.19226 8.20939 5.24658C8.20939 5.4353 8.2379 5.61727 8.28906 5.78961L7.39198 6.41926C7.01724 5.95436 6.47768 5.62976 5.86292 5.53068V4.4495C6.72899 4.2676 7.38154 3.49811 7.38154 2.57865C7.38154 1.52432 6.52376 0.666687 5.46958 0.666687C4.4154 0.666687 3.55763 1.52432 3.55763 2.57865C3.55763 3.48579 4.19328 4.24579 5.04202 4.44068V5.5359C3.88371 5.73922 3 6.7501 3 7.96583C3 9.18748 3.89246 10.2021 5.05913 10.3985V11.555C4.20171 11.7434 3.55763 12.5081 3.55763 13.4214C3.55763 14.4757 4.4154 15.3334 5.46958 15.3334C6.52376 15.3334 7.38154 14.4757 7.38154 13.4214C7.38154 12.5081 6.73745 11.7434 5.88003 11.555V10.3984C6.48269 10.297 7.01233 9.97878 7.38323 9.52418L8.28772 10.1644C8.23751 10.3352 8.20939 10.5153 8.20939 10.7022C8.20939 11.7565 9.06716 12.6141 10.1213 12.6141C11.1755 12.6141 12.0333 11.7565 12.0333 10.7022C12.0333 9.64783 11.1755 8.79019 10.1213 8.79019ZM10.1213 4.31957C10.6325 4.31957 11.0483 4.73553 11.0483 5.24658C11.0483 5.75764 10.6325 6.17356 10.1213 6.17356C9.61015 6.17356 9.19437 5.75764 9.19437 5.24658C9.19437 4.73553 9.61015 4.31957 10.1213 4.31957ZM4.54258 2.57865C4.54258 2.06759 4.95839 1.65167 5.46958 1.65167C5.98078 1.65167 6.39655 2.06759 6.39655 2.57865C6.39655 3.0897 5.98078 3.50562 5.46958 3.50562C4.95839 3.50562 4.54258 3.0897 4.54258 2.57865ZM6.39655 13.4214C6.39655 13.9324 5.98078 14.3484 5.46958 14.3484C4.95839 14.3484 4.54258 13.9324 4.54258 13.4214C4.54258 12.9103 4.95839 12.4944 5.46958 12.4944C5.98078 12.4944 6.39655 12.9103 6.39655 13.4214ZM5.46951 9.25865C4.75655 9.25865 4.17655 8.67876 4.17655 7.96583C4.17655 7.25287 4.75655 6.67286 5.46951 6.67286C6.18244 6.67286 6.76244 7.25287 6.76244 7.96583C6.76244 8.67876 6.18244 9.25865 5.46951 9.25865ZM10.1213 11.6292C9.61015 11.6292 9.19437 11.2132 9.19437 10.7022C9.19437 10.1911 9.61015 9.77518 10.1213 9.77518C10.6325 9.77518 11.0483 10.1911 11.0483 10.7022C11.0483 11.2132 10.6325 11.6292 10.1213 11.6292Z"
              fill="white"></path>
          </svg>
          Kafka
        </div>
        <div class="table-cell">
          <span class="badge regular-s">Active</span>
        </div>
        <div class="table-cell regular-s">99%</div>
      </div>
      <div class="table-row">
        <div class="table-cell regular-s">
          <img src="/images/pubsub-icon.svg" alt="Pubsub" />
          GCP Pub Sub
        </div>
        <div class="table-cell">
          <span class="badge regular-s">Active</span>
        </div>
        <div class="table-cell regular-s">99%</div>
      </div>
    </div>
  </div>
</div>

<style>
  .wrapper {
    flex: 1;
    position: relative;
    padding-left: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    overflow: hidden;
    padding-top: 1px;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 1px);
      background: linear-gradient(180deg, rgba(20, 20, 18, 0) 0%, #141412 100%);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding: var(--spacing-6);
    padding-right: 0;
    padding-bottom: 0;
    margin-right: -8px;
    margin-bottom: -24px;
    box-shadow:
      0px -1px 0px 0px rgba(255, 255, 255, 0.04),
      0px 2px 4px 0px rgba(0, 0, 0, 0.32),
      0px 4px 8px 0px rgba(0, 0, 0, 0.32),
      0px 0px 0px 1px rgba(255, 255, 255, 0.16);

    border-radius: 0;
    border-top-left-radius: 6px;
  }

  .bold-m {
    color: var(--foreground-neutral-2);
    margin-bottom: var(--spacing-6);
  }

  .search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--spacing-4);
    gap: var(--spacing-4);
  }

  .fake-search {
    min-width: 68%;
    padding: var(--spacing-2) var(--spacing-3);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    border-radius: 6px;
    box-shadow:
      0px 2px 4px 0px rgba(0, 0, 0, 0.4) inset,
      0px 0px 0px 1px rgba(255, 255, 255, 0.24) inset;

    span {
      color: #52504a;
    }
  }

  .fake-button {
    display: flex;
    padding: var(--spacing-2) var(--spacing-3);
    align-items: center;
    gap: var(--spacing-2);
    text-wrap: nowrap;
    border-radius: 6px;
    background: #04c;
    box-shadow:
      0px 2px 4px 0px rgba(0, 0, 0, 0.5),
      0px 0px 0px 1px #0036a3,
      0px 1px 0px 0px rgba(255, 255, 255, 0.24) inset;
  }

  .table {
    min-width: 100%;
    border: 1px solid var(--outline-neutral);
    overflow: hidden;
    border-radius: 6px;

    .table-header {
      display: grid;
      grid-template-columns: 1.5fr 1.2fr 1fr;
      padding: var(--spacing-1-5) var(--spacing-4);
      background-color: var(--background-neutral-2);
      border-bottom: 1px solid var(--outline-neutral);

      .table-header-cell {
        text-transform: uppercase;
        white-space: nowrap;
        color: var(--foreground-neutral-3);
      }
    }

    .table-row {
      display: grid;
      grid-template-columns: 1.5fr 1.2fr 1fr;
      padding: var(--spacing-4);
      border-bottom: 1px solid var(--outline-neutral);

      &:last-child {
        border-bottom: none;
      }

      .table-cell {
        display: flex;
        align-items: center;
        gap: var(--spacing-2);
        text-wrap: nowrap;
        color: var(--foreground-neutral-3);

        svg,
        img {
          width: 16px;
          height: 16px;
        }

        &:first-child {
          color: var(--foreground-neutral-2);
        }
      }
    }
  }
</style>
