<div class="wrapper">
  <div class="card">
    {
      `{
  "event_id": "9dfcc6e7-6787-47fc-9a0d-127bc35a2f72",
  "event_type": "order.created",
  "timestamp": "2024-12-18T15:30:00Z",
  "data": {
    "id": "123700234734",
    "status": "pending_payment",
    "total": 10000,
    "subtotal": 9000,
    "tax": 1000,
    "currency": "USD",
    "shipping_address": {
      "line1": "123 Main St",
      "line2": "Apt 1",
      "city": "San Francisco",
      "state": "CA",
      "zip": "94101"
    }
  }
}`
        .split("\n")
        .map((line, i) => {
          const [key, value] = line.split(': "');
          return (
            <span class="line">
              <span class="regular-s index">{i + 1}</span>
              <span class="key regular-s">{value ? `${key}: ` : key}</span>
              {value ? <span class="value regular-s">"{value}</span> : ""}
            </span>
          );
        })
    }
  </div>
</div>

<style>
  .wrapper {
    flex: 1;
    position: relative;
    padding-left: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    overflow: hidden;
    padding-top: 1px;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 1px);
      background: linear-gradient(
        180deg,
        rgba(20, 20, 18, 0.5) 0%,
        #141412 100%
      );
    }
  }

  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    padding: var(--spacing-6);
    padding-bottom: 0;
    box-shadow:
      0px -1px 0px 0px rgba(255, 255, 255, 0.04),
      0px 2px 4px 0px rgba(0, 0, 0, 0.32),
      0px 4px 8px 0px rgba(0, 0, 0, 0.32),
      0px 0px 0px 1px rgba(255, 255, 255, 0.16);

    border-radius: 0;
    border-top-left-radius: 6px;
  }

  .line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .index {
      text-align: right;
      margin-right: var(--spacing-4);
      color: var(--foreground-neutral-3);
    }

    .key {
      color: var(--foreground-neutral-2);
      white-space: pre;
    }

    .value {
      color: var(--foreground-success);
      text-wrap: nowrap;
    }
  }
</style>
