<div class="wrapper">
  <div class="card">
    <span class="time regular-s">02:08:48 user.created</span>
    <span class="badge badge-danger regular-s"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M7.99999 14.5001C7.22222 14.5001 6.49372 14.3523 5.81449 14.0567C5.13516 13.7612 4.54405 13.3619 4.04116 12.8589C3.53816 12.356 3.13888 11.7649 2.84333 11.0856C2.54777 10.4063 2.39999 9.67785 2.39999 8.90007C2.39999 8.73007 2.45716 8.58757 2.57149 8.47257C2.68583 8.35757 2.82749 8.30007 2.99649 8.30007C3.16549 8.30007 3.30833 8.35757 3.42499 8.47257C3.54166 8.58757 3.59999 8.73007 3.59999 8.90007C3.59999 10.1112 4.03055 11.1473 4.89166 12.0084C5.75277 12.8695 6.78888 13.3001 7.99999 13.3001C9.2111 13.3001 10.2472 12.8695 11.1083 12.0084C11.9694 11.1473 12.4 10.1112 12.4 8.90007C12.4 7.68896 11.9694 6.65285 11.1083 5.79174C10.2472 4.93063 9.20894 4.50007 7.99349 4.50007H7.89999L8.33333 4.9334C8.45555 5.05563 8.51666 5.19729 8.51666 5.3584C8.51666 5.51952 8.45822 5.66118 8.34133 5.7834C8.21377 5.90563 8.06944 5.96674 7.90833 5.96674C7.74722 5.96674 7.60555 5.90563 7.48333 5.7834L6.01666 4.31674C5.89444 4.19852 5.83333 4.06063 5.83333 3.90307C5.83333 3.74552 5.89444 3.60563 6.01666 3.4834L7.48333 2.01674C7.60555 1.89452 7.74444 1.8334 7.89999 1.8334C8.05555 1.8334 8.19711 1.89452 8.32466 2.01674C8.44155 2.13896 8.49999 2.28063 8.49999 2.44174C8.49999 2.60285 8.43888 2.74452 8.31666 2.86674L7.88333 3.30007H7.99999C8.77777 3.30007 9.50627 3.44785 10.1855 3.7434C10.8648 4.03896 11.4559 4.43824 11.9588 4.94124C12.4618 5.44413 12.8611 6.03524 13.1567 6.71457C13.4522 7.39379 13.6 8.12229 13.6 8.90007C13.6 9.67785 13.4522 10.4063 13.1567 11.0856C12.8611 11.7649 12.4618 12.356 11.9588 12.8589C11.4559 13.3619 10.8648 13.7612 10.1855 14.0567C9.50627 14.3523 8.77777 14.5001 7.99999 14.5001Z"
          fill="#EBA7A1"></path>
      </svg>RETRY</span
    >
  </div>
  <div class="card">
    <span class="time regular-s">02:09:11 user.created</span>
    <span class="badge badge-danger regular-s"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M7.99999 14.5001C7.22222 14.5001 6.49372 14.3523 5.81449 14.0567C5.13516 13.7612 4.54405 13.3619 4.04116 12.8589C3.53816 12.356 3.13888 11.7649 2.84333 11.0856C2.54777 10.4063 2.39999 9.67785 2.39999 8.90007C2.39999 8.73007 2.45716 8.58757 2.57149 8.47257C2.68583 8.35757 2.82749 8.30007 2.99649 8.30007C3.16549 8.30007 3.30833 8.35757 3.42499 8.47257C3.54166 8.58757 3.59999 8.73007 3.59999 8.90007C3.59999 10.1112 4.03055 11.1473 4.89166 12.0084C5.75277 12.8695 6.78888 13.3001 7.99999 13.3001C9.2111 13.3001 10.2472 12.8695 11.1083 12.0084C11.9694 11.1473 12.4 10.1112 12.4 8.90007C12.4 7.68896 11.9694 6.65285 11.1083 5.79174C10.2472 4.93063 9.20894 4.50007 7.99349 4.50007H7.89999L8.33333 4.9334C8.45555 5.05563 8.51666 5.19729 8.51666 5.3584C8.51666 5.51952 8.45822 5.66118 8.34133 5.7834C8.21377 5.90563 8.06944 5.96674 7.90833 5.96674C7.74722 5.96674 7.60555 5.90563 7.48333 5.7834L6.01666 4.31674C5.89444 4.19852 5.83333 4.06063 5.83333 3.90307C5.83333 3.74552 5.89444 3.60563 6.01666 3.4834L7.48333 2.01674C7.60555 1.89452 7.74444 1.8334 7.89999 1.8334C8.05555 1.8334 8.19711 1.89452 8.32466 2.01674C8.44155 2.13896 8.49999 2.28063 8.49999 2.44174C8.49999 2.60285 8.43888 2.74452 8.31666 2.86674L7.88333 3.30007H7.99999C8.77777 3.30007 9.50627 3.44785 10.1855 3.7434C10.8648 4.03896 11.4559 4.43824 11.9588 4.94124C12.4618 5.44413 12.8611 6.03524 13.1567 6.71457C13.4522 7.39379 13.6 8.12229 13.6 8.90007C13.6 9.67785 13.4522 10.4063 13.1567 11.0856C12.8611 11.7649 12.4618 12.356 11.9588 12.8589C11.4559 13.3619 10.8648 13.7612 10.1855 14.0567C9.50627 14.3523 8.77777 14.5001 7.99999 14.5001Z"
          fill="#EBA7A1"></path>
      </svg>RETRY</span
    >
  </div>
  <div class="card">
    <span class="time regular-s">02:09:19 user.created</span>
    <span class="badge badge-danger regular-s"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
      >
        <path
          d="M7.99999 14.5001C7.22222 14.5001 6.49372 14.3523 5.81449 14.0567C5.13516 13.7612 4.54405 13.3619 4.04116 12.8589C3.53816 12.356 3.13888 11.7649 2.84333 11.0856C2.54777 10.4063 2.39999 9.67785 2.39999 8.90007C2.39999 8.73007 2.45716 8.58757 2.57149 8.47257C2.68583 8.35757 2.82749 8.30007 2.99649 8.30007C3.16549 8.30007 3.30833 8.35757 3.42499 8.47257C3.54166 8.58757 3.59999 8.73007 3.59999 8.90007C3.59999 10.1112 4.03055 11.1473 4.89166 12.0084C5.75277 12.8695 6.78888 13.3001 7.99999 13.3001C9.2111 13.3001 10.2472 12.8695 11.1083 12.0084C11.9694 11.1473 12.4 10.1112 12.4 8.90007C12.4 7.68896 11.9694 6.65285 11.1083 5.79174C10.2472 4.93063 9.20894 4.50007 7.99349 4.50007H7.89999L8.33333 4.9334C8.45555 5.05563 8.51666 5.19729 8.51666 5.3584C8.51666 5.51952 8.45822 5.66118 8.34133 5.7834C8.21377 5.90563 8.06944 5.96674 7.90833 5.96674C7.74722 5.96674 7.60555 5.90563 7.48333 5.7834L6.01666 4.31674C5.89444 4.19852 5.83333 4.06063 5.83333 3.90307C5.83333 3.74552 5.89444 3.60563 6.01666 3.4834L7.48333 2.01674C7.60555 1.89452 7.74444 1.8334 7.89999 1.8334C8.05555 1.8334 8.19711 1.89452 8.32466 2.01674C8.44155 2.13896 8.49999 2.28063 8.49999 2.44174C8.49999 2.60285 8.43888 2.74452 8.31666 2.86674L7.88333 3.30007H7.99999C8.77777 3.30007 9.50627 3.44785 10.1855 3.7434C10.8648 4.03896 11.4559 4.43824 11.9588 4.94124C12.4618 5.44413 12.8611 6.03524 13.1567 6.71457C13.4522 7.39379 13.6 8.12229 13.6 8.90007C13.6 9.67785 13.4522 10.4063 13.1567 11.0856C12.8611 11.7649 12.4618 12.356 11.9588 12.8589C11.4559 13.3619 10.8648 13.7612 10.1855 14.0567C9.50627 14.3523 8.77777 14.5001 7.99999 14.5001Z"
          fill="#EBA7A1"></path>
      </svg>RETRY
      <svg
        class="pointer"
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.75959 15.8776C4.40256 15.4263 3.96885 14.5035 3.19696 13.3834C2.75947 12.7498 1.67456 11.5568 1.35147 10.9508C1.07113 10.4153 1.1013 10.1752 1.16793 9.73141C1.2861 8.94192 2.0957 8.32718 2.95936 8.41015C3.61182 8.47175 4.16496 8.90295 4.66279 9.31027C4.96325 9.55541 5.33285 10.0319 5.55536 10.3009C5.76027 10.5473 5.81056 10.6491 6.0293 10.9408C6.31845 11.3267 6.40896 11.5178 6.29833 11.0929C6.20907 10.4694 6.06324 9.40455 5.85204 8.46295C5.69113 7.7489 5.65216 7.63701 5.49879 7.0889C5.33662 6.50558 5.25365 6.09701 5.10153 5.4785C4.99593 5.04101 4.8061 4.14718 4.75456 3.64432C4.6829 2.95667 4.64519 1.8353 5.08645 1.31987C5.43216 0.916324 6.22542 0.794381 6.71696 1.0433C7.36062 1.3689 7.72645 2.30421 7.89365 2.67758C8.1941 3.3489 8.38016 4.12455 8.54233 5.14284C8.7485 6.43895 9.12816 8.23792 9.14073 8.61632C9.1709 8.15244 9.05525 7.17564 9.1357 6.73061C9.20862 6.32707 9.54805 5.85815 9.97296 5.73118C10.3325 5.62432 10.7536 5.58535 11.1245 5.66204C11.518 5.7425 11.9328 6.0241 12.0875 6.28935C12.5426 7.07381 12.5514 8.67667 12.5702 8.59118C12.6783 8.1185 12.6595 7.04615 12.9272 6.59987C13.1032 6.3057 13.552 6.04044 13.7909 5.9977C14.1605 5.93232 14.6143 5.91221 15.0028 5.98764C15.3158 6.04924 15.7395 6.42135 15.8539 6.59987C16.1279 7.03232 16.2838 8.25552 16.3303 8.68421C16.3492 8.86147 16.4234 8.19141 16.6987 7.75895C17.2091 6.95564 19.0156 6.79975 19.0847 8.56227C19.1162 9.38444 19.1099 9.34673 19.1099 9.89987C19.1099 10.5498 19.0948 10.9408 19.0596 11.411C19.0206 11.9138 18.9125 13.0503 18.7554 13.6009C18.6472 13.9793 18.289 14.8304 17.9357 15.3408C17.9357 15.3408 16.5855 16.9122 16.4384 17.62C16.2901 18.3265 16.3391 18.3315 16.3102 18.8331C16.2813 19.3335 16.4623 19.9922 16.4623 19.9922C16.4623 19.9922 15.4541 20.123 14.911 20.0362C14.4195 19.957 13.811 18.979 13.6539 18.6798C13.4376 18.2674 12.9763 18.3466 12.7965 18.6508C12.5136 19.1323 11.9052 19.996 11.4752 20.05C10.6355 20.1556 8.89307 20.089 7.52907 20.0752C7.52907 20.0752 7.76164 18.8042 7.2437 18.368C6.86027 18.0424 6.20027 17.3824 5.80553 17.0354L4.75959 15.8776Z"
          fill="white"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M4.75959 15.8776C4.40256 15.4263 3.96885 14.5035 3.19696 13.3834C2.75947 12.7498 1.67456 11.5568 1.35147 10.9508C1.07113 10.4153 1.1013 10.1752 1.16793 9.73141C1.2861 8.94192 2.0957 8.32718 2.95936 8.41015C3.61182 8.47175 4.16496 8.90295 4.66279 9.31027C4.96325 9.55541 5.33285 10.0319 5.55536 10.3009C5.76027 10.5473 5.81056 10.6491 6.0293 10.9408C6.31845 11.3267 6.40896 11.5178 6.29833 11.0929C6.20907 10.4694 6.06324 9.40455 5.85204 8.46295C5.69113 7.7489 5.65216 7.63701 5.49879 7.0889C5.33662 6.50558 5.25365 6.09701 5.10153 5.4785C4.99593 5.04101 4.8061 4.14718 4.75456 3.64432C4.6829 2.95667 4.64519 1.8353 5.08645 1.31987C5.43216 0.916324 6.22542 0.794381 6.71696 1.0433C7.36062 1.3689 7.72645 2.30421 7.89365 2.67758C8.1941 3.3489 8.38016 4.12455 8.54233 5.14284C8.7485 6.43895 9.12816 8.23792 9.14073 8.61632C9.1709 8.15244 9.05525 7.17564 9.1357 6.73061C9.20862 6.32707 9.54805 5.85815 9.97296 5.73118C10.3325 5.62432 10.7536 5.58535 11.1245 5.66204C11.518 5.7425 11.9328 6.0241 12.0875 6.28935C12.5426 7.07381 12.5514 8.67667 12.5702 8.59118C12.6783 8.1185 12.6595 7.04615 12.9272 6.59987C13.1032 6.3057 13.552 6.04044 13.7909 5.9977C14.1605 5.93232 14.6143 5.91221 15.0028 5.98764C15.3158 6.04924 15.7395 6.42135 15.8539 6.59987C16.1279 7.03232 16.2838 8.25552 16.3303 8.68421C16.3492 8.86147 16.4234 8.19141 16.6987 7.75895C17.2091 6.95564 19.0156 6.79975 19.0847 8.56227C19.1162 9.38444 19.1099 9.34673 19.1099 9.89987C19.1099 10.5498 19.0948 10.9408 19.0596 11.411C19.0206 11.9138 18.9125 13.0503 18.7554 13.6009C18.6472 13.9793 18.289 14.8304 17.9357 15.3408C17.9357 15.3408 16.5855 16.9122 16.4384 17.62C16.2901 18.3265 16.3391 18.3315 16.3102 18.8331C16.2813 19.3335 16.4623 19.9922 16.4623 19.9922C16.4623 19.9922 15.4541 20.123 14.911 20.0362C14.4195 19.957 13.811 18.979 13.6539 18.6798C13.4376 18.2674 12.9763 18.3466 12.7965 18.6508C12.5136 19.1323 11.9052 19.996 11.4752 20.05C10.6355 20.1556 8.89307 20.089 7.52907 20.0752C7.52907 20.0752 7.76164 18.8042 7.2437 18.368C6.86027 18.0424 6.20027 17.3824 5.80553 17.0354L4.75959 15.8776Z"
          stroke="black"
          stroke-width="0.75"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M15.1121 16.3232V11.9748"
          stroke="black"
          stroke-width="0.75"
          stroke-linecap="round"></path>
        <path
          d="M12.5782 16.3379L12.558 11.9719"
          stroke="black"
          stroke-width="0.75"
          stroke-linecap="round"></path>
        <path
          d="M10.0687 12.0116L10.0951 16.3186"
          stroke="black"
          stroke-width="0.75"
          stroke-linecap="round"></path>
      </svg></span
    >
  </div>
</div>

<style>
  .wrapper {
    position: relative;
    padding: var(--spacing-8);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);

    &:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      width: 100%;
      height: calc(100% - 44px - 8px);
      background: linear-gradient(
        180deg,
        #141412 0%,
        rgba(20, 20, 18, 0.75) 100%
      );
    }
  }
  .card {
    padding-right: var(--spacing-3);
    justify-content: space-between;

    &:last-of-type {
      .badge {
        position: relative;
      }
    }

    .time {
      color: var(--foreground-neutral-2);
    }

    .badge {
      display: flex;
      align-items: center;
      gap: var(--spacing-1);

      .pointer {
        position: absolute;
        right: -10px;
        top: 50%;
      }
    }
  }
</style>
