.button {
  background-color: var(--colors-surface-neutral);
  border-radius: var(--radius-m);
  border: 1px solid var(--colors-outline-neutral);
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  padding: calc(var(--spacing-1--5) - 1px) var(--spacing-3);
  text-decoration: none;
  color: var(--colors-on-surface-neutral);
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  box-shadow: var(--shadow-elevation-1);

  svg {
    fill: var(--colors-on-surface-secondary-variant);
  }

  &:hover {
    cursor: pointer;
    background-color: var(--colors-surface-neutral-variant);
    border-color: var(--colors-outline-neutral-hover);
  }

  &__primary {
    background-color: var(--colors-surface-primary);
    color: var(--colors-on-surface-primary);
    border-color: transparent;
    box-shadow: var(--shadow-elevation-2);

    svg {
      fill: var(--colors-on-surface-primary);
    }

    &:hover {
      border-color: transparent;
      background-color: var(--colors-surface-primary-hover);
    }
  }
}
