.button {
  background-color: var(--colors-background);
  border-radius: var(--radius-m);
  border: none;

  padding: var(--spacing-1--5) var(--spacing-3);
  text-decoration: none;
  color: var(--colors-foreground-neutral);
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  box-shadow: var(--colors-shadow-button);
  position: relative;

  > span {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);

    svg {
      fill: var(--colors-foreground-neutral-2);
      max-height: 16px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--colors-background-hover);
    border-color: var(--colors-outline-neutral-hover);
  }

  &__primary {
    background-color: var(--colors-background-primary);
    box-shadow: var(--colors-shadow-button-primary);

    > span {
      color: var(--colors-foreground-on-hue);
      svg {
        fill: var(--colors-foreground-on-hue);
      }
    }

    &:hover {
      border-color: transparent;
      background-color: var(--colors-background-primary-hover);
    }
  }
}

.button__danger {
  > span {
    color: var(--colors-foreground-danger);
    svg {
      fill: var(--colors-foreground-danger);
    }
  }
}

.button__minimal {
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: fit-content;
  padding: var(--spacing-2) var(--spacing-3);

  > span {
    color: var(--colors-foreground-neutral-3);
    svg {
      fill: var(--colors-foreground-neutral-3);
    }
  }

  &:hover {
    background-color: var(--colors-background-neutral-2);
  }
}

.button__disabled {
  background-color: var(--colors-background-neutral-2);
  box-shadow: var(--colors-shadow-button);

  > span {
    color: var(--colors-foreground-neutral-disabled);
    svg {
      fill: var(--colors-foreground-neutral-disabled);
    }
  }

  &:hover {
    background-color: var(--colors-background-neutral-2);
    color: var(--colors-foreground-neutral-disabled);
    box-shadow: var(--colors-shadow-button);
    cursor: not-allowed;
  }
}

.button__loading {
  > :not(.button__loading-container) {
    visibility: hidden;
  }
}

.button__loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  svg {
    fill: var(--colors-foreground-neutral-3);
  }
}
