.tooltip-content {
  background-color: var(--colors-background);
  border: 1px solid var(--colors-outline-neutral);
  border-radius: var(--radius-m);
  padding: var(--spacing-4);
  max-width: 300px;
  animation: fadeIn 0.1s ease-in-out;
  box-shadow: var(--shadow-elevation-3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
