:root {
  /* Background Colors */
  --background: #141412;
  --background-neutral: #1d1d1b;
  --background-neutral-2: #222220;
  --background-success: #00331a;
  --background-primary: #001b52;
  --background-primary-hover: #00297a;
  --background-danger: #520e08;

  /* Outline Colors */
  --outline-neutral: #353533;
  --outline-neutral-2: #3e3e3d;
  --outline-primary: #0036a3;
  --outline-primary-hover: #04c;
  --outline-primary-focus: #668fe0;
  --outline-success: #063;
  --outline-danger: #7a150c;

  /* Foreground Colors */
  --foreground-primary: #668fe0;
  --foreground-danger: #eba7a1;
  --foreground-neutral: #f5f4f1;
  --foreground-neutral-2: #ccc8b8;
  --foreground-neutral-3: #7a786e;
  --foreground-success: #99ccb3;

  /* Spacing */
  --grid-multiplier: 4px;

  --spacing-1-5: calc(var(--grid-multiplier) * 1.5);
  @for $i from 1 through 20 {
    --spacing-#{$i}: calc(#{$i} * var(--grid-multiplier));
  }

  /* Fonts */
  font-size: 16px;

  --font-family-sans: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;

  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --font-size-5xl: 60px;
  --font-line-height-5xl: 72px;

  --font-size-4xl: 48px;
  --font-line-height-4xl: 56px;

  --font-size-3xl: 40px;
  --font-line-height-3xl: 48px;

  --font-size-2xl: 32px;
  --font-line-height-2xl: 40px;

  --font-size-xl: 24px;
  --font-line-height-xl: 32px;

  --font-size-l: 20px;
  --font-line-height-l: 32px;

  --font-size-m: 16px;
  --font-line-height-m: 24px;
  --font-letter-spacing-m: 0.08px;

  --font-size-s: 14px;
  --font-line-height-s: 20px;
  --font-letter-spacing-m: 0.07px;

  --font-size-xs: 12px;
  --font-line-height-xs: 16px;
  --font-letter-spacing-xs: 0.06px;

  @media (max-width: 744px) {
    --font-size-4xl: 32px;
    --font-line-height-4xl: 40px;

    --font-size-2xl: 20px;
    --font-line-height-2xl: 32px;

    --font-size-l: 16px;
    --font-line-height-l: 24px;
    --font-letter-spacing-l: 0.08px;

    --font-size-m: 14px;
    --font-line-height-m: 20px;
    --font-letter-spacing-m: 0.07px;
  }
}

* {
  font-family: var(--font-family-mono);
  color: var(--foreground-neutral);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus-visible {
    outline: 2px solid var(--outline-primary-focus);
    outline-offset: 2px;
  }
}

html {
  background-color: var(--background);
}

body {
  margin: 0;
}

/* Typography Classes */
.regular-5xl {
  font-size: var(--font-size-5xl);
  line-height: var(--font-line-height-5xl);
  font-weight: var(--font-weight-regular);
}

.regular-4xl {
  font-size: var(--font-size-4xl);
  line-height: var(--font-line-height-4xl);
  font-weight: var(--font-weight-regular);
}

.regular-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--font-line-height-3xl);
  font-weight: var(--font-weight-regular);
}

.regular-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--font-line-height-2xl);
  font-weight: var(--font-weight-regular);
}

.regular-xl {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
  font-weight: var(--font-weight-regular);
}

.regular-l {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  font-weight: var(--font-weight-regular);
}

.regular-m {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-letter-spacing-m);
}

.regular-s {
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-letter-spacing-m);
}

.regular-xs {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--font-letter-spacing-xs);
}

.medium-5xl {
  font-size: var(--font-size-5xl);
  line-height: var(--font-line-height-5xl);
  font-weight: var(--font-weight-medium);
}

.medium-4xl {
  font-size: var(--font-size-4xl);
  line-height: var(--font-line-height-4xl);
  font-weight: var(--font-weight-medium);
}

.medium-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--font-line-height-3xl);
  font-weight: var(--font-weight-medium);
}

.medium-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--font-line-height-2xl);
  font-weight: var(--font-weight-medium);
}

.medium-xl {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
  font-weight: var(--font-weight-medium);
}

.medium-l {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  font-weight: var(--font-weight-medium);
}

.medium-m {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-m);
}

.medium-s {
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-m);
}

.medium-xs {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--font-letter-spacing-xs);
}

.bold-5xl {
  font-size: var(--font-size-5xl);
  line-height: var(--font-line-height-5xl);
  font-weight: var(--font-weight-bold);
}

.bold-4xl {
  font-size: var(--font-size-4xl);
  line-height: var(--font-line-height-4xl);
  font-weight: var(--font-weight-bold);
}

.bold-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--font-line-height-3xl);
  font-weight: var(--font-weight-bold);
}

.bold-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--font-line-height-2xl);
  font-weight: var(--font-weight-bold);
}

.bold-xl {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-height-xl);
  font-weight: var(--font-weight-bold);
}

.bold-l {
  font-size: var(--font-size-l);
  line-height: var(--font-line-height-l);
  font-weight: var(--font-weight-bold);
}

.bold-m {
  font-size: var(--font-size-m);
  line-height: var(--font-line-height-m);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-m);
}

.bold-s {
  font-size: var(--font-size-s);
  line-height: var(--font-line-height-s);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-m);
}

.bold-xs {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-height-xs);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--font-letter-spacing-xs);
}

.sans-serif {
  font-family: var(--font-family-sans);
}

section,
nav {
  max-width: 1334px;
  margin: 0 auto;
  padding: 0 var(--spacing-20);
  box-sizing: border-box;

  @media (max-width: 744px) {
    padding: 0 var(--spacing-6);
  }
}

.button {
  border-radius: 6px;
  border: 1px solid var(--outline-neutral);
  background-color: var(--background-neutral);
  padding: var(--spacing-1-5) var(--spacing-3);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: var(--background-neutral-2);
    border-color: var(--outline-neutral-2);
  }

  &-primary {
    color: var(--foreground-primary);
    background-color: var(--background-primary);
    border-color: var(--outline-primary);

    &:hover {
      background-color: var(--background-primary-hover);
      border-color: var(--outline-primary-hover);
    }
  }
}

.card {
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.32), 0px 4px 8px 0px rgba(0, 0, 0, 0.32),
    0px 0px 0px 1px rgba(255, 255, 255, 0.16);
  padding: var(--spacing-3) var(--spacing-4);
  border-radius: 6px;
  display: flex;
  align-items: center;
  background-color: var(--background-neutral);
}

.badge {
  border-radius: 4px;
  border: 1px solid var(--outline-success);
  background: var(--background-success);
  padding: 0px var(--spacing-1);
  color: var(--foreground-success);
  text-transform: uppercase;

  &-primary {
    border-color: var(--outline-primary);
    background: var(--background-primary);
    color: var(--foreground-primary);
  }

  &-success {
    border-color: var(--outline-success);
    background: var(--background-success);
    color: var(--foreground-success);
  }

  &-danger {
    border-color: var(--outline-danger);
    background: var(--background-danger);
    color: var(--foreground-danger);
  }

  &-disabled {
    border-color: var(--outline-neutral-2);
    background: var(--background-neutral-2);
    color: var(--foreground-neutral-3);
  }
}

.dots {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: var(--background);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.5),
    0px 0px 0px 1px rgba(255, 255, 255, 0.24);
  z-index: 1;

  &-left {
    left: -4px;
    top: -4px;
  }

  &-right {
    right: -4px;
    top: -4px;
  }

  &-bottom-left {
    bottom: -4px;
    left: -4px;
  }

  &-bottom-right {
    bottom: -4px;
    right: -4px;
  }
}
