$BASE_FONT_SIZE: 16px !default;
$BASE_GRID_MULTIPLIER: 4px !default;

$RADIUS_S: 4px !default;
$RADIUS_M: 6px !default;

// Background Colors

/// Neutral
$COLORS_BACKGROUND_LIGHT: #ffffff !default;
$COLORS_BACKGROUND_DARK: #1a1a1a !default;

$COLORS_BACKGROUND_HOVER_LIGHT: #f5f5f5 !default;
$COLORS_BACKGROUND_HOVER_DARK: #272725 !default;

$COLORS_BACKGROUND_NEUTRAL_1_LIGHT: #fafafa !default;
$COLORS_BACKGROUND_NEUTRAL_1_DARK: #1d1d1b !default;

$COLORS_BACKGROUND_NEUTRAL_2_LIGHT: #f5f5f5 !default;
$COLORS_BACKGROUND_NEUTRAL_2_DARK: #222220 !default;

$COLORS_BACKGROUND_NEUTRAL_3_LIGHT: #ebebeb !default;
$COLORS_NEUTRAL_3_DARK: #353533 !default;

$COLORS_BACKGROUND_NEUTRAL_ELEVATED_LIGHT: #ffffff !default;
$COLORS_BACKGROUND_NEUTRAL_ELEVATED_DARK: #1d1d1b !default;

/// Primary
$COLORS_BACKGROUND_PRIMARY_LIGHT: #0044cc !default;
$COLORS_BACKGROUND_PRIMARY_DARK: #0044cc !default;

$COLORS_BACKGROUND_PRIMARY_HOVER_LIGHT: #0036a3 !default;
$COLORS_BACKGROUND_PRIMARY_HOVER_DARK: #3369d6 !default;

$COLORS_BACKGROUND_CONTAINER_PRIMARY_LIGHT: #e5ecfa !default;
$COLORS_BACKGROUND_CONTAINER_PRIMARY_DARK: #001b52 !default;

$COLORS_BACKGROUND_CONTAINER_PRIMARY_HOVER_LIGHT: #ccdaf5 !default;
$COLORS_BACKGROUND_CONTAINER_PRIMARY_HOVER_DARK: #00297a !default;

/// Danger
$COLORS_BACKGROUND_DANGER_LIGHT: #cc2314 !default;
$COLORS_BACKGROUND_DANGER_DARK: #a31c10 !default;

$COLORS_BACKGROUND_CONTAINER_DANGER_LIGHT: #fae9e7 !default;
$COLORS_BACKGROUND_CONTAINER_DANGER_DARK: #520e08 !default;

/// Success
$COLORS_BACKGROUND_SUCCESS_LIGHT: #66b38c !default;
$COLORS_BACKGROUND_SUCCESS_DARK: #004d26 !default;

$COLORS_BACKGROUND_CONTAINER_SUCCESS_LIGHT: #e5f2ec !default;
$COLORS_BACKGROUND_CONTAINER_SUCCESS_DARK: #00331a !default;

// Foreground Colors

/// Neutral
$COLORS_FOREGROUND_NEUTRAL_LIGHT: #141412 !default;
$COLORS_FOREGROUND_NEUTRAL_DARK: #f5f4f1 !default;

$COLORS_FOREGROUND_NEUTRAL_2_LIGHT: #52504a !default;
$COLORS_FOREGROUND_NEUTRAL_2_DARK: #ccc8b8 !default;

$COLORS_FOREGROUND_NEUTRAL_3_LIGHT: #7a786e !default;
$COLORS_FOREGROUND_NEUTRAL_3_DARK: #7a786e !default;

$COLORS_FOREGROUND_NEUTRAL_DISABLED_LIGHT: #a3a093 !default;
$COLORS_FOREGROUND_NEUTRAL_DISABLED_DARK: #52504a !default;

$COLORS_FOREGROUND_ON_HUE_LIGHT: #ffffff !default;
$COLORS_FOREGROUND_ON_HUE_DARK: #ffffff !default;

/// Primary
$COLORS_FOREGROUND_PRIMARY_LIGHT: #0044cc !default;
$COLORS_FOREGROUND_PRIMARY_DARK: #668fe0 !default;

$COLORS_FOREGROUND_CONTAINER_PRIMARY_LIGHT: #0036a3 !default;
$COLORS_FOREGROUND_CONTAINER_PRIMARY_DARK: #99b4eb !default;

/// Danger
$COLORS_FOREGROUND_DANGER_LIGHT: #cc2314 !default;
$COLORS_FOREGROUND_DANGER_DARK: #e07b72 !default;

/// Success
$COLORS_FOREGROUND_SUCCESS_LIGHT: #006633 !default;
$COLORS_FOREGROUND_SUCCESS_DARK: #99ccb3 !default;

// Code
$COLORS_CODE_BOOLEAN_LIGHT: #0036a3 !default;
$COLORS_CODE_BOOLEAN_DARK: #668fe0 !default;

$COLORS_CODE_STRING_LIGHT: #006633 !default;
$COLORS_CODE_STRING_DARK: #66b38c !default;

$COLORS_CODE_NULL_LIGHT: #a31c10 !default;
$COLORS_CODE_NULL_DARK: #e07b72 !default;

$COLORS_CODE_NUMBER_LIGHT: #665200 !default;
$COLORS_CODE_NUMBER_DARK: #ffe066 !default;

// Shadows

$COLORS_SHADOW_TOOLTIP_LIGHT: 0px 2px 4px 0px rgba(0, 0, 0, 0.08),
  0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
$COLORS_SHADOW_TOOLTIP_DARK: 0px -1px 0px 0px rgba(255, 255, 255, 0.04),
  0px 2px 4px 0px rgba(0, 0, 0, 0.32), 0px 4px 8px 0px rgba(0, 0, 0, 0.32),
  0px 0px 0px 1px rgba(255, 255, 255, 0.16);

$COLORS_SHADOW_MENU_LIGHT: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
  0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
$COLORS_SHADOW_MENU_DARK: 0px -1px 0px 0px rgba(255, 255, 255, 0.04),
  0px 4px 8px 0px rgba(0, 0, 0, 0.32), 0px 8px 16px 0px rgba(0, 0, 0, 0.32),
  0px 0px 0px 1px rgba(255, 255, 255, 0.16);

$COLORS_SHADOW_DIALOG_LIGHT: 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
  0px 16px 32px 0px rgba(0, 0, 0, 0.08), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
$COLORS_SHADOW_DIALOG_DARK: 0px -1px 0px 0px rgba(255, 255, 255, 0.04),
  0px 8px 16px 0px rgba(0, 0, 0, 0.32), 0px 16px 32px 0px rgba(0, 0, 0, 0.32),
  0px 0px 0px 1px rgba(255, 255, 255, 0.16);

$COLORS_SHADOW_BUTTON_LIGHT: 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
  0px 0px 0px 1px rgba(0, 0, 0, 0.08);
$COLORS_SHADOW_BUTTON_DARK: 0px -1px 0px 0px rgba(255, 255, 255, 0.04),
  0px 2px 4px 0px rgba(0, 0, 0, 0.32), 0px 0px 0px 1px rgba(255, 255, 255, 0.24);

$COLORS_SHADOW_BUTTON_PRIMARY_LIGHT: 0px 1px 2px 0px rgba(0, 0, 0, 0.32),
  0px 0px 0px 1px #0036a3;
$COLORS_SHADOW_BUTTON_PRIMARY_DARK: 0px 1px 2px 0px rgba(0, 0, 0, 0.16),
  0px 0px 0px 1px rgba(0, 0, 0, 0.08);

$COLORS_SHADOW_INPUT_LIGHT: 0px 1px 2px 0px rgba(0, 0, 0, 0.04) inset,
  0px 0px 0px 1px rgba(0, 0, 0, 0.08) inset;
$COLORS_SHADOW_INPUT_DARK: 0px 2px 4px 0px rgba(0, 0, 0, 0.32) inset,
  0px 0px 0px 1px rgba(255, 255, 255, 0.24) inset;

// Outline Colors

$COLORS_OUTLINE_NEUTRAL_LIGHT: #ebebeb !default;
$COLORS_OUTLINE_NEUTRAL_DARK: #353533 !default;

$COLORS_OUTLINE_NEUTRAL_HOVER_LIGHT: #e0e0e0 !default;
$COLORS_OUTLINE_NEUTRAL_HOVER_DARK: #3e3e3d !default;

$COLORS_OUTLINE_PRIMARY_LIGHT: #ccdaf5 !default;
$COLORS_OUTLINE_PRIMARY_DARK: #0036a3 !default;

$COLORS_OUTLINE_PRIMARY_FOCUS_LIGHT: #668fe0 !default;
$COLORS_OUTLINE_PRIMARY_FOCUS_DARK: #668fe0 !default;

$COLORS_OUTLINE_PRIMARY_HOVER_LIGHT: #99b4eb !default;
$COLORS_OUTLINE_PRIMARY_HOVER_DARK: #0044cc !default;

$COLORS_OUTLINE_SUCCESS_LIGHT: #cce6d9 !default;
$COLORS_OUTLINE_SUCCESS_DARK: #006633 !default;

$COLORS_OUTLINE_DANGER_LIGHT: #f5d3d0 !default;
$COLORS_OUTLINE_DANGER_DARK: #7a150c !default;

// Data Visualization Colors
$COLORS_DATAVIZ_SUCCESS_LIGHT: #66b38c !default;
$COLORS_DATAVIZ_SUCCESS_DARK: #004d26 !default;

$COLORS_DATAVIZ_ERROR_LIGHT: #cc2314 !default;
$COLORS_DATAVIZ_ERROR_DARK: #d64f43 !default;

:root {
  --base-font-size: #{$BASE_FONT_SIZE};
  --base-grid-multiplier: #{$BASE_GRID_MULTIPLIER};
  --font-family-monospace: "JetBrains Mono", monospace;

  --radius-s: #{$RADIUS_S};
  --radius-m: #{$RADIUS_M};

  --font-size-3xl: 1.75rem; /* 28px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-l: 1rem; /* 16px */
  --font-size-m: 0.875rem; /* 14px */
  --font-size-s: 0.8125rem; /* 13px */
  --font-size-xs: 0.75rem; /* 12px */

  --line-height-3xl: 2.25rem; /* 36px */
  --line-height-2xl: 2rem; /* 32px */
  --line-height-xl: 1.75rem; /* 28px */
  --line-height-l: 1.5rem; /* 24px */
  --line-height-m: 1.25rem; /* 20px */
  --line-height-s: 1.25rem; /* 20px */
  --line-height-xs: 1.25rem; /* 20px */

  --colors-background: #{$COLORS_BACKGROUND_LIGHT};
  --colors-background-hover: #{$COLORS_BACKGROUND_HOVER_LIGHT};
  --colors-background-neutral-1: #{$COLORS_BACKGROUND_NEUTRAL_1_LIGHT};
  --colors-background-neutral-2: #{$COLORS_BACKGROUND_NEUTRAL_2_LIGHT};
  --colors-background-neutral-3: #{$COLORS_BACKGROUND_NEUTRAL_3_LIGHT};
  --colors-background-neutral-elevated: #{$COLORS_BACKGROUND_NEUTRAL_ELEVATED_LIGHT};
  --colors-background-primary: #{$COLORS_BACKGROUND_PRIMARY_LIGHT};
  --colors-background-primary-hover: #{$COLORS_BACKGROUND_PRIMARY_HOVER_LIGHT};
  --colors-background-container-primary: #{$COLORS_BACKGROUND_CONTAINER_PRIMARY_LIGHT};
  --colors-background-container-primary-hover: #{$COLORS_BACKGROUND_CONTAINER_PRIMARY_HOVER_LIGHT};
  --colors-background-danger: #{$COLORS_BACKGROUND_DANGER_LIGHT};
  --colors-background-success: #{$COLORS_BACKGROUND_SUCCESS_LIGHT};
  --colors-background-container-success: #{$COLORS_BACKGROUND_CONTAINER_SUCCESS_LIGHT};
  --colors-background-container-danger: #{$COLORS_BACKGROUND_CONTAINER_DANGER_LIGHT};

  --colors-outline-neutral: #{$COLORS_OUTLINE_NEUTRAL_LIGHT};
  --colors-outline-neutral-hover: #{$COLORS_OUTLINE_NEUTRAL_HOVER_LIGHT};
  --colors-outline-primary: #{$COLORS_OUTLINE_PRIMARY_LIGHT};
  --colors-outline-primary-focus: #{$COLORS_OUTLINE_PRIMARY_FOCUS_LIGHT};
  --colors-outline-primary-hover: #{$COLORS_OUTLINE_PRIMARY_HOVER_LIGHT};
  --colors-outline-success: #{$COLORS_OUTLINE_SUCCESS_LIGHT};
  --colors-outline-danger: #{$COLORS_OUTLINE_DANGER_LIGHT};

  --colors-code-boolean: #{$COLORS_CODE_BOOLEAN_LIGHT};
  --colors-code-null: #{$COLORS_CODE_NULL_LIGHT};
  --colors-code-number: #{$COLORS_CODE_NUMBER_LIGHT};
  --colors-code-string: #{$COLORS_CODE_STRING_LIGHT};

  --colors-dataviz-error: #{$COLORS_DATAVIZ_ERROR_LIGHT};
  --colors-dataviz-success: #{$COLORS_DATAVIZ_SUCCESS_LIGHT};

  --colors-foreground-neutral: #{$COLORS_FOREGROUND_NEUTRAL_LIGHT};
  --colors-foreground-neutral-2: #{$COLORS_FOREGROUND_NEUTRAL_2_LIGHT};
  --colors-foreground-neutral-3: #{$COLORS_FOREGROUND_NEUTRAL_3_LIGHT};
  --colors-foreground-neutral-disabled: #{$COLORS_FOREGROUND_NEUTRAL_DISABLED_LIGHT};
  --colors-foreground-on-hue: #{$COLORS_FOREGROUND_ON_HUE_LIGHT};
  --colors-foreground-primary: #{$COLORS_FOREGROUND_PRIMARY_LIGHT};
  --colors-foreground-container-primary: #{$COLORS_FOREGROUND_CONTAINER_PRIMARY_LIGHT};
  --colors-foreground-danger: #{$COLORS_FOREGROUND_DANGER_LIGHT};
  --colors-foreground-success: #{$COLORS_FOREGROUND_SUCCESS_LIGHT};

  --colors-shadow-tooltip: #{$COLORS_SHADOW_TOOLTIP_LIGHT};
  --colors-shadow-menu: #{$COLORS_SHADOW_MENU_LIGHT};
  --colors-shadow-dialog: #{$COLORS_SHADOW_DIALOG_LIGHT};
  --colors-shadow-button: #{$COLORS_SHADOW_BUTTON_LIGHT};
  --colors-shadow-button-primary: #{$COLORS_SHADOW_BUTTON_PRIMARY_LIGHT};
  --colors-shadow-input: #{$COLORS_SHADOW_INPUT_LIGHT};

  body[data-theme="dark"] {
    --colors-background: #{$COLORS_BACKGROUND_DARK};
    --colors-background-hover: #{$COLORS_BACKGROUND_HOVER_DARK};
    --colors-background-neutral-1: #{$COLORS_BACKGROUND_NEUTRAL_1_DARK};
    --colors-background-neutral-2: #{$COLORS_BACKGROUND_NEUTRAL_2_DARK};
    --colors-background-neutral-3: #{$COLORS_NEUTRAL_3_DARK};
    --colors-background-neutral-elevated: #{$COLORS_BACKGROUND_NEUTRAL_ELEVATED_DARK};
    --colors-background-primary: #{$COLORS_BACKGROUND_PRIMARY_DARK};
    --colors-background-primary-hover: #{$COLORS_BACKGROUND_PRIMARY_HOVER_DARK};
    --colors-background-container-primary: #{$COLORS_BACKGROUND_CONTAINER_PRIMARY_DARK};
    --colors-background-container-primary-hover: #{$COLORS_BACKGROUND_CONTAINER_PRIMARY_HOVER_DARK};
    --colors-background-danger: #{$COLORS_BACKGROUND_DANGER_DARK};
    --colors-background-success: #{$COLORS_BACKGROUND_SUCCESS_DARK};
    --colors-background-container-success: #{$COLORS_BACKGROUND_CONTAINER_SUCCESS_DARK};
    --colors-background-container-danger: #{$COLORS_BACKGROUND_CONTAINER_DANGER_DARK};
    --colors-code-boolean: #{$COLORS_CODE_BOOLEAN_DARK};
    --colors-code-null: #{$COLORS_CODE_NULL_DARK};
    --colors-code-number: #{$COLORS_CODE_NUMBER_DARK};
    --colors-code-string: #{$COLORS_CODE_STRING_DARK};

    --colors-dataviz-error: #{$COLORS_DATAVIZ_ERROR_DARK};
    --colors-dataviz-success: #{$COLORS_DATAVIZ_SUCCESS_DARK};

    --colors-foreground-neutral: #{$COLORS_FOREGROUND_NEUTRAL_DARK};
    --colors-foreground-neutral-2: #{$COLORS_FOREGROUND_NEUTRAL_2_DARK};
    --colors-foreground-neutral-3: #{$COLORS_FOREGROUND_NEUTRAL_3_DARK};
    --colors-foreground-neutral-disabled: #{$COLORS_FOREGROUND_NEUTRAL_DISABLED_DARK};
    --colors-foreground-on-hue: #{$COLORS_FOREGROUND_ON_HUE_DARK};
    --colors-foreground-primary: #{$COLORS_FOREGROUND_PRIMARY_DARK};
    --colors-foreground-container-primary: #{$COLORS_FOREGROUND_CONTAINER_PRIMARY_DARK};
    --colors-foreground-danger: #{$COLORS_FOREGROUND_DANGER_DARK};
    --colors-foreground-success: #{$COLORS_FOREGROUND_SUCCESS_DARK};

    --colors-outline-neutral: #{$COLORS_OUTLINE_NEUTRAL_DARK};
    --colors-outline-neutral-hover: #{$COLORS_OUTLINE_NEUTRAL_DARK};
    --colors-outline-primary: #{$COLORS_OUTLINE_PRIMARY_DARK};
    --colors-outline-primary-focus: #{$COLORS_OUTLINE_PRIMARY_FOCUS_DARK};
    --colors-outline-primary-hover: #{$COLORS_OUTLINE_PRIMARY_HOVER_DARK};
    --colors-outline-success: #{$COLORS_OUTLINE_SUCCESS_DARK};
    --colors-outline-danger: #{$COLORS_OUTLINE_DANGER_DARK};

    --colors-shadow-tooltip: #{$COLORS_SHADOW_TOOLTIP_DARK};
    --colors-shadow-menu: #{$COLORS_SHADOW_MENU_DARK};
    --colors-shadow-dialog: #{$COLORS_SHADOW_DIALOG_DARK};
    --colors-shadow-button: #{$COLORS_SHADOW_BUTTON_DARK};
    --colors-shadow-button-primary: #{$COLORS_SHADOW_BUTTON_PRIMARY_DARK};
    --colors-shadow-input: #{$COLORS_SHADOW_INPUT_DARK};
  }
}

html {
  font-size: var(--base-font-size); // 16px from your variables
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;

  color: var(--colors-foreground-neutral);

  &:focus-visible {
    outline: 2px solid var(--colors-outline-primary-focus);
    outline-offset: 2px;
  }
}

body {
  padding: 0;
  margin: 0;
  background: var(--colors-background);
  font-size: 1rem;
}

@mixin generate-spacing-variables {
  @for $i from 1 through 20 {
    --spacing-#{$i}: #{$i * $BASE_GRID_MULTIPLIER};
  }
}

:root {
  --spacing-1--5: calc(var(--spacing-1) * 1.5);
  @include generate-spacing-variables;
}

.muted {
  color: var(--colors-foreground-neutral-2);
}

.muted-variant {
  color: var(--colors-foreground-neutral-3);
}

/* Title styles */
.title-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
  font-weight: 600;
}

.title-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  font-weight: 600;
}

.title-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 600;
}

.title-l {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: 600;
  letter-spacing: 0.08px;
}

.title-m {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: 600;
  letter-spacing: 0.07px;
}

.title-s {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: 600;
  letter-spacing: 0.065px;
}

.title-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 600;
  letter-spacing: 0.06px;
}

/* Subtitle styles */
.subtitle-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
  font-weight: 500;
}

.subtitle-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  font-weight: 500;
}

.subtitle-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 500;
}

.subtitle-l {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: 500;
  letter-spacing: 0.08px;
}

.subtitle-m {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: 500;
  letter-spacing: 0.07px;
}

.subtitle-s {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: 500;
  letter-spacing: 0.065px;
}

.subtitle-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 500;
  letter-spacing: 0.06px;
}

/* Body styles */
.body-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
  font-weight: 400;
}

.body-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  font-weight: 400;
}

.body-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 400;
}

.body-l {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: 400;
  letter-spacing: 0.08px;
}

.body-m {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: 400;
  letter-spacing: 0.07px;
}

.body-s {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: 400;
  letter-spacing: 0.065px;
}

.body-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 400;
  letter-spacing: 0.06px;
}

/* Mono styles */
.mono-3xl {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
  font-weight: 400;
  font-family: var(--font-family-monospace);
}

.mono-2xl {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  font-weight: 400;
  font-family: var(--font-family-monospace);
}

.mono-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 400;
  font-family: var(--font-family-monospace);
}

.mono-l {
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: 400;
  font-family: var(--font-family-monospace);
  letter-spacing: 0.08px;
}

.mono-m {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-weight: 400;
  font-family: var(--font-family-monospace);
  letter-spacing: 0.07px;
}

.mono-s {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: 400;
  font-family: var(--font-family-monospace);
  letter-spacing: 0.065px;
}

.mono-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: 400;
  font-family: var(--font-family-monospace);
  letter-spacing: 0.06px;
}

input,
textarea {
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  border-radius: var(--radius-m);
  border: none;
  padding: var(--spacing-1--5) var(--spacing-3);
  font-family: inherit;
  background: var(--colors-background);
  color: var(--colors-foreground-neutral);
  box-shadow: var(--colors-shadow-input);

  &:hover {
    border-color: var(--colors-outline-neutral-hover);
  }

  &::placeholder {
    color: var(--colors-foreground-neutral-3);
  }
}
