.table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: var(--radius-m);
  border: 1px solid var(--colors-outline-neutral);
  background-color: var(--colors-surface-neutral);
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--radius-m);

  th {
    background-color: var(--colors-surface-neutral-variant);
    border-bottom: 1px solid var(--colors-outline-neutral);
    padding: var(--spacing-1) var(--spacing-4);
    color: var(--colors-on-surface-secondary-variant);

    &:last-child {
      text-align: right;
    }
  }

  tr {
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: var(--colors-surface-neutral-variant);
    }
  }

  th,
  td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td {
    max-width: 0;
    padding: 0;

    &:last-child {
      a,
      button {
        justify-content: flex-end;
      }
    }

    a,
    button {
      text-decoration: none;
      color: var(--colors-on-surface-neutral);
      font-size: var(--font-size-m);
      line-height: var(--line-height-m);
      font-weight: 500;
      padding: var(--spacing-4);
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
      
      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
