.sidebar-open {
  display: grid;
  grid-template-columns: 1fr 408px;
  gap: 0;

  #root {
    height: 100vh; // Added to ensure parent has full height
    overflow-y: auto; // Added to make the container scrollable
  }
}

#sidebar {
  padding: var(--spacing-6);
  height: 100vh;
  border-left: 1px solid var(--colors-outline-neutral);
  overflow-y: auto;
  box-sizing: border-box;
  position: sticky;
  top: 0;

  .close-button {
    margin-left: calc(var(--spacing-2) * -1);
    padding: var(--spacing-2);
  }

  h1 {
    font-size: var(--font-size-l);
    font-weight: 600;
    line-height: var(--line-height-l);
  }

  h2 {
    font-size: var(--font-size-m);
    font-weight: 600;
    line-height: var(--line-height-m);
  }

  p, li {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
    color: var(--colors-foreground-neutral-2);
  }

  ul,
  ol {
    padding-left: var(--spacing-4);
  }

  pre {
    background-color: var(--colors-background-neutral-2);
    color: var(--colors-foreground-neutral-2);
    padding: var(--spacing-3);
    border-radius: var(--radius-m);
    white-space: pre-wrap;
  }

  code {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
    font-family: var(--font-family-monospace);
  }
}
