<section>
  <h2 class="bold-4xl">Deploy Today</h2>
  <p class="regular-l sans-serif">
    Learn more and get started via our docs, or explore the code and contribute
    your own via GitHub.
  </p>
  <div class="button-group">
    <a class="button button-primary" href="https://outpost.hookdeck.com/docs"
      >Docs -></a
    >
    <a class="button" href="https://github.com/hookdeck/outpost">Github -></a>
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 760px;

    margin-top: 216px;
    margin-bottom: 216px;

    @media (max-width: 744px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    h2 {
      margin-bottom: var(--spacing-4);
      margin-top: 0;
      text-align: center;
    }

    p {
      margin-bottom: var(--spacing-8);
      margin-top: 0;
      text-align: center;
    }
  }

  .button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-4);
  }
</style>
