<section>
  <div class="wrapper">
    <div class="column">
      <div class="column-header">
        <h2 class="bold-2xl">Built on</h2>
      </div>
      <div class="column-content">
        <div class="row">
          <div class="card">
            <img src="/images/go-icon.svg" alt="GO" />
            <span class="regular-m"> GO</span>
          </div>
          <div class="card">
            <img src="/images/redis-icon.svg" alt="REDIS" />
            <span class="regular-m">REDIS</span>
          </div>
          <div class="card">
            <img src="/images/clickhouse-icon.svg" alt="CLICKHOUSE" />
            <span class="regular-m">CLICKHOUSE</span>
          </div>
        </div>
        <div class="divider">
          <span class="regular-m">BRING-YOUR-OWN-MESSAGE BUS</span>
          <svg
            width="534"
            height="24"
            viewBox="0 0 534 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M267 0V0C267 8.83656 259.837 16 251 16H9C4.58172 16 1 19.5817 1 24V24"
              stroke="#353533"></path>
            <path
              d="M267 0V0C267 8.83656 274.163 16 283 16H525C529.418 16 533 19.5817 533 24V24"
              stroke="#353533"></path>
          </svg>
        </div>
        <div class="row">
          <div class="card">
            <img src="/images/sqs-icon.svg" alt="AWS SQS" />
            <span class="regular-m">SQS</span>
          </div>
          <div class="card">
            <img src="/images/rabbitmq-icon.svg" alt="RABBITMQ" />
            <span class="regular-m">RABBITMQ</span>
          </div>
          <div class="card">
            <img src="/images/pubsub-icon.svg" alt="GCP PUB/SUB" />
            <span class="regular-m">PUB/SUB</span>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="column-header">
        <h2 class="bold-2xl">Deploy with</h2>
      </div>
      <div class="column-content">
        <div class="row">
          <div class="card">
            <img src="/images/kubernetes-icon.svg" alt="KUBERNETES" />
            <span class="regular-m">KUBERNETES</span>
          </div>
          <div class="card">
            <img src="/images/docker-icon.svg" alt="DOCKER" />
            <span class="regular-m">DOCKER</span>
          </div>
        </div>
        <div class="divider">
          <span class="regular-m">DEPLOY ON</span>
          <svg
            width="534"
            height="24"
            viewBox="0 0 534 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M267 0V0C267 8.83656 259.837 16 251 16H9C4.58172 16 1 19.5817 1 24V24"
              stroke="#353533"></path>
            <path
              d="M267 0V0C267 8.83656 274.163 16 283 16H525C529.418 16 533 19.5817 533 24V24"
              stroke="#353533"></path>
          </svg>
        </div>
        <div class="row">
          <div class="card">
            <img src="/images/aws-icon.svg" alt="AWS" />
            <span class="regular-m">AWS</span>
          </div>
          <div class="card">
            <img src="/images/gcp-icon.svg" alt="GCP" />
            <span class="regular-m">GCP</span>
          </div>
          <div class="card">
            <img src="/images/azure-icon.svg" alt="AZURE" />
            <span class="regular-m">AZURE</span>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <img src="/images/railway-icon.svg" alt="RAILWAY" />
            <span class="regular-m">RAILWAY</span>
          </div>
          <div class="card">
            <img src="/images/fly-icon.svg" alt="FLY" />
            <span class="regular-m">FLY</span>
          </div>
          <div class="card">
            <img src="/images/more-icon.svg" alt="MORE" />
            <span class="regular-m">MORE</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  section {
    margin-top: 216px;

    @media (max-width: 744px) {
      margin-top: 100px;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 744px) {
      grid-template-columns: 1fr;
    }

    border: 1px solid var(--outline-neutral);
  }

  .column:first-child {
    border-right: 1px dashed var(--outline-neutral);
  }

  .column-header {
    padding: var(--spacing-6);
    border-bottom: 1px dashed var(--outline-neutral);

    h2 {
      margin: 0;
      text-align: center;
    }
  }

  .column-content {
    padding: var(--spacing-10);
  }

  .divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--spacing-3);
    margin-top: var(--spacing-10);

    svg {
      margin-top: var(--spacing-1);
      width: 100%;
    }
  }

  .row {
    display: flex;
    gap: var(--spacing-4);
    margin-bottom: var(--spacing-4);

    @media (max-width: 1334px) {
      flex-direction: column;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-3);
  }

  .regular-m {
    text-wrap: nowrap;
    color: var(--foreground-neutral-2);
  }
</style>
