<footer>
  <section>
    <div>
      <img src="/images/outpost-logo.svg" alt="Outpost Logo" />
      <p class="regular-m copyright">Hookdeck Technologies © 2025</p>
    </div>
    <div>
      <h4 class="bold-m">Github</h4>
      <ul>
        <li>
          <a href="https://github.com/hookdeck/outpost" class="regular-m"
            >Code</a
          >
        </li>
        <li>
          <a
            href="https://github.com/orgs/hookdeck/projects/20"
            class="regular-m">Roadmap</a
          >
        </li>
        <li>
          <a
            href="https://github.com/hookdeck/outpost/releases"
            class="regular-m">Releases</a
          >
        </li>
        <li>
          <a href="https://github.com/hookdeck/outpost/issues" class="regular-m"
            >Issues</a
          >
        </li>
        <li>
          <a
            href="https://github.com/hookdeck/outpost/blob/main/CONTRIBUTING.md"
            class="regular-m">Contribute</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4 class="bold-m">Docs</h4>
      <ul>
        <li>
          <a
            href="https://github.com/hookdeck/outpost/tree/feat/docs/docs/1-get-started"
            class="regular-m">Quickstarts</a
          >
        </li>
        <li>
          <a
            href="https://github.com/hookdeck/outpost/tree/feat/docs/docs/2-overview"
            class="regular-m">Overview</a
          >
        </li>
        <li>
          <a
            href="https://github.com/hookdeck/outpost/tree/feat/docs/docs/3-features"
            class="regular-m">Features</a
          >
        </li>
        <li>
          <a
            href="https://github.com/hookdeck/outpost/tree/feat/docs/docs/4-guides"
            class="regular-m">Guides</a
          >
        </li>
        <li>
          <a
            href="https://github.com/hookdeck/outpost/tree/feat/docs/docs/5-references"
            class="regular-m">References</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h4 class="bold-m">Socials</h4>
      <ul>
        <li>
          <a href="https://x.com/hookdeck" target="_blank" class="regular-m"
            >X</a
          >
        </li>
        <li>
          <a
            href="https://bsky.app/profile/hookdeck.com"
            target="_blank"
            class="regular-m">Bluesky</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/hookdeck"
            target="_blank"
            class="regular-m">LinkedIn</a
          >
        </li>
      </ul>
    </div>
  </section>
</footer>

<style>
  footer {
    border-top: 1px dashed var(--outline-neutral);
    padding-top: var(--spacing-20);
    padding-bottom: var(--spacing-20);
  }

  .copyright {
    color: var(--foreground-neutral-3);
    margin-top: var(--spacing-2);
    margin-bottom: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: var(--spacing-4);
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0;
      margin-bottom: var(--spacing-2);

      a {
        text-decoration: none;
        color: var(--foreground-neutral-2);

        &:hover {
          color: var(--foreground-neutral-1);
        }
      }
    }
  }

  section {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;

    @media (max-width: 744px) {
      grid-template-columns: 1fr;
      gap: var(--spacing-10);
    }
  }
</style>
