<nav>
  <img src="/images/outpost-logo.svg" alt="Outpost Logo" />
</nav>

<style>
  nav {
    background-color: var(--background);
    width: 100%;
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-6);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 18px;
      vertical-align: sub;
    }

    a {
      display: flex;
      align-items: center;
    }

    div {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);

      span {
        color: var(--foreground-neutral-3);
      }
    }
  }
</style>
