<nav>
  <img src="/images/outpost-logo.svg" alt="Outpost Logo" />
  <!-- <div>
    <span class="regular-s">BUILT BY</span>
    <a href="https://hookdeck.com" target="_blank" >
      <svg
        width="127"
        height="20"
        viewBox="0 0 127 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.4882 7.40361C19.6313 7.40361 19.7744 7.50887 19.846 7.64922C19.9175 7.78958 19.8818 7.96501 19.7744 8.07028L10.8308 16.8422C8.36232 19.2633 4.31979 19.2633 1.85134 16.8422C-0.617113 14.4212 -0.617113 10.4562 1.85134 8.03519L7.00289 2.98257C8.46965 1.54397 10.473 0.982568 12.3691 1.22818C12.5122 1.26327 12.6195 1.33344 12.6911 1.47379C12.7268 1.61414 12.6911 1.7545 12.5837 1.85976L11.4389 2.98257C11.2601 3.15801 11.0454 3.26327 10.8308 3.29835C9.97218 3.43871 9.14937 3.82466 8.50542 4.45624L3.35387 9.50887C1.70824 11.1229 1.70824 13.7545 3.35387 15.3685C4.99951 16.9826 7.68261 16.9826 9.32824 15.3685L15.7319 9.08782L14.6944 8.07028C14.5871 7.96501 14.5513 7.78958 14.6229 7.64922C14.6944 7.50887 14.8375 7.40361 14.9806 7.40361H19.4882ZM10.2584 12.4913C10.4015 12.4913 10.5446 12.3861 10.6161 12.2457C10.6877 12.1054 10.6519 11.9299 10.5446 11.8247L9.50711 10.8071L15.9108 4.52642C17.5564 2.91239 20.2395 2.91239 21.8851 4.52642C23.5308 6.14045 23.5308 8.77203 21.8851 10.3861L16.6978 15.4387C16.0539 16.0703 15.2311 16.4562 14.3725 16.5966C14.122 16.6317 13.9074 16.7369 13.7643 16.9124L12.6195 18.0352C12.5122 18.1405 12.4764 18.2808 12.5122 18.4212C12.548 18.5615 12.6911 18.6668 12.8342 18.6668C14.7302 18.9124 16.7336 18.351 18.2004 16.9124L23.3519 11.8598C25.8204 9.4387 25.8204 5.47379 23.3519 3.05274C20.8835 0.631688 16.8409 0.631688 14.3725 3.05274L5.4288 11.8247C5.32148 11.9299 5.2857 12.1054 5.35725 12.2457C5.4288 12.3861 5.5719 12.4913 5.715 12.4913H10.2584Z"
          fill="#7A786E"></path>
        <path
          d="M41.0636 16.842V2.84202H43.8572V16.842H41.0636ZM31.6631 16.842V2.82202H34.4567V16.842H31.6631ZM33.743 10.942V8.42203H42.389V10.942H33.743Z"
          fill="#7A786E"></path>
        <path
          d="M51.5652 17.0821C50.5321 17.0821 49.6077 16.8621 48.792 16.4221C47.9899 15.9687 47.3578 15.3487 46.8956 14.5621C46.447 13.7754 46.2227 12.8687 46.2227 11.8421C46.2227 10.8154 46.447 9.90872 46.8956 9.12205C47.3442 8.33538 47.9695 7.72205 48.7716 7.28205C49.5737 6.82872 50.4913 6.60205 51.5245 6.60205C52.5712 6.60205 53.4956 6.82872 54.2977 7.28205C55.0998 7.72205 55.7251 8.33538 56.1737 9.12205C56.6223 9.90872 56.8467 10.8154 56.8467 11.8421C56.8467 12.8687 56.6223 13.7754 56.1737 14.5621C55.7251 15.3487 55.0998 15.9687 54.2977 16.4221C53.5092 16.8621 52.5984 17.0821 51.5652 17.0821ZM51.5652 14.6421C52.0682 14.6421 52.51 14.5221 52.8907 14.2821C53.2713 14.0421 53.5636 13.7154 53.7675 13.3021C53.985 12.8754 54.0938 12.3887 54.0938 11.8421C54.0938 11.2954 53.985 10.8154 53.7675 10.4021C53.55 9.97538 53.2441 9.64205 52.8499 9.40205C52.4693 9.16205 52.0274 9.04205 51.5245 9.04205C51.0351 9.04205 50.5932 9.16205 50.199 9.40205C49.8184 9.64205 49.5193 9.97538 49.3018 10.4021C49.0843 10.8154 48.9755 11.2954 48.9755 11.8421C48.9755 12.3887 49.0843 12.8754 49.3018 13.3021C49.5193 13.7154 49.8252 14.0421 50.2194 14.2821C50.6136 14.5221 51.0623 14.6421 51.5652 14.6421Z"
          fill="#7A786E"></path>
        <path
          d="M63.6177 17.0821C62.5845 17.0821 61.6601 16.8621 60.8444 16.4221C60.0424 15.9687 59.4102 15.3487 58.948 14.5621C58.4994 13.7754 58.2751 12.8687 58.2751 11.8421C58.2751 10.8154 58.4994 9.90872 58.948 9.12205C59.3966 8.33538 60.022 7.72205 60.824 7.28205C61.6261 6.82872 62.5437 6.60205 63.5769 6.60205C64.6237 6.60205 65.5481 6.82872 66.3501 7.28205C67.1522 7.72205 67.7775 8.33538 68.2262 9.12205C68.6748 9.90872 68.8991 10.8154 68.8991 11.8421C68.8991 12.8687 68.6748 13.7754 68.2262 14.5621C67.7775 15.3487 67.1522 15.9687 66.3501 16.4221C65.5617 16.8621 64.6508 17.0821 63.6177 17.0821ZM63.6177 14.6421C64.1207 14.6421 64.5625 14.5221 64.9431 14.2821C65.3238 14.0421 65.616 13.7154 65.82 13.3021C66.0375 12.8754 66.1462 12.3887 66.1462 11.8421C66.1462 11.2954 66.0375 10.8154 65.82 10.4021C65.6024 9.97538 65.2966 9.64205 64.9023 9.40205C64.5217 9.16205 64.0799 9.04205 63.5769 9.04205C63.0875 9.04205 62.6457 9.16205 62.2514 9.40205C61.8708 9.64205 61.5717 9.97538 61.3542 10.4021C61.1367 10.8154 61.0279 11.2954 61.0279 11.8421C61.0279 12.3887 61.1367 12.8754 61.3542 13.3021C61.5717 13.7154 61.8776 14.0421 62.2718 14.2821C62.6661 14.5221 63.1147 14.6421 63.6177 14.6421Z"
          fill="#7A786E"></path>
        <path
          d="M73.4475 14.3021L71.8366 12.4821L77.0568 6.84205H80.2583L73.4475 14.3021ZM70.8782 16.8421V2.84204H73.5699V16.8421H70.8782ZM77.4035 16.8421L74.0185 12.0021L75.7721 10.1821L80.5642 16.8421H77.4035Z"
          fill="#7A786E"></path>
        <path
          d="M88.7762 16.8421L88.6335 14.9821V2.84204H91.3252V16.8421H88.7762ZM85.5747 17.0821C84.6367 17.0821 83.8211 16.8687 83.1278 16.4421C82.448 16.0154 81.9179 15.4087 81.5372 14.6221C81.1566 13.8354 80.9662 12.9087 80.9662 11.8421C80.9662 10.7621 81.1566 9.83538 81.5372 9.06205C81.9179 8.27538 82.448 7.66872 83.1278 7.24205C83.8211 6.81538 84.6367 6.60205 85.5747 6.60205C86.4312 6.60205 87.1517 6.81538 87.7362 7.24205C88.3344 7.66872 88.7898 8.27538 89.1025 9.06205C89.4151 9.83538 89.5715 10.7621 89.5715 11.8421C89.5715 12.9087 89.4151 13.8354 89.1025 14.6221C88.7898 15.4087 88.3344 16.0154 87.7362 16.4421C87.1517 16.8687 86.4312 17.0821 85.5747 17.0821ZM86.2681 14.6621C86.7303 14.6621 87.1381 14.5421 87.4915 14.3021C87.8586 14.0621 88.1441 13.7287 88.348 13.3021C88.5519 12.8754 88.6539 12.3887 88.6539 11.8421C88.6539 11.2954 88.5519 10.8087 88.348 10.3821C88.1441 9.95539 87.8586 9.62872 87.4915 9.40205C87.1381 9.16205 86.7235 9.04205 86.2477 9.04205C85.7583 9.04205 85.33 9.16205 84.963 9.40205C84.5959 9.62872 84.3037 9.95539 84.0862 10.3821C83.8686 10.8087 83.7599 11.2954 83.7599 11.8421C83.7599 12.3887 83.8686 12.8754 84.0862 13.3021C84.3037 13.7287 84.5959 14.0621 84.963 14.3021C85.3436 14.5421 85.7787 14.6621 86.2681 14.6621Z"
          fill="#7A786E"></path>
        <path
          d="M98.4568 17.0821C97.4509 17.0821 96.5604 16.8621 95.7856 16.4221C95.0107 15.9687 94.3989 15.3487 93.9503 14.5621C93.5153 13.7754 93.2978 12.8687 93.2978 11.8421C93.2978 10.8154 93.5221 9.90872 93.9707 9.12205C94.4329 8.33538 95.0583 7.72205 95.8467 7.28205C96.6488 6.82872 97.5664 6.60205 98.5996 6.60205C99.4968 6.60205 100.319 6.83538 101.067 7.30205C101.828 7.75538 102.433 8.42872 102.882 9.32205C103.344 10.2021 103.575 11.2754 103.575 12.5421H95.8467L96.0914 12.3021C96.0914 12.7954 96.2138 13.2287 96.4585 13.6021C96.7168 13.9621 97.043 14.2421 97.4373 14.4421C97.8451 14.6287 98.2801 14.7221 98.7423 14.7221C99.2997 14.7221 99.7551 14.6087 100.109 14.3821C100.462 14.1421 100.734 13.8354 100.924 13.4621L103.33 14.3821C103.045 14.942 102.671 15.4287 102.209 15.8421C101.76 16.2421 101.223 16.5487 100.598 16.7621C99.9726 16.9754 99.2589 17.0821 98.4568 17.0821ZM96.2342 10.8221L95.9895 10.5821H100.904L100.68 10.8221C100.68 10.3421 100.564 9.96205 100.333 9.68205C100.102 9.38872 99.8163 9.17538 99.4764 9.04205C99.1502 8.90872 98.8307 8.84205 98.518 8.84205C98.2054 8.84205 97.8723 8.90872 97.5188 9.04205C97.1654 9.17538 96.8595 9.38872 96.6012 9.68205C96.3565 9.96205 96.2342 10.3421 96.2342 10.8221Z"
          fill="#7A786E"></path>
        <path
          d="M110.257 17.0821C109.197 17.0821 108.252 16.8621 107.423 16.4221C106.594 15.9687 105.948 15.3487 105.486 14.5621C105.024 13.7621 104.793 12.8554 104.793 11.8421C104.793 10.8154 105.024 9.90872 105.486 9.12205C105.948 8.33538 106.587 7.72205 107.403 7.28205C108.218 6.82872 109.156 6.60205 110.217 6.60205C111.236 6.60205 112.167 6.84872 113.01 7.34205C113.853 7.83538 114.465 8.54872 114.846 9.48205L112.317 10.3621C112.127 9.97538 111.828 9.66872 111.42 9.44205C111.026 9.20205 110.584 9.08205 110.094 9.08205C109.591 9.08205 109.15 9.20205 108.769 9.44205C108.388 9.66872 108.089 9.98872 107.872 10.4021C107.654 10.8154 107.545 11.2954 107.545 11.8421C107.545 12.3887 107.654 12.8687 107.872 13.2821C108.089 13.6821 108.395 14.0021 108.789 14.2421C109.184 14.4821 109.632 14.6021 110.135 14.6021C110.625 14.6021 111.066 14.4754 111.461 14.2221C111.868 13.9687 112.167 13.6354 112.358 13.2221L114.907 14.1021C114.513 15.0487 113.894 15.7821 113.051 16.3021C112.222 16.8221 111.291 17.0821 110.257 17.0821Z"
          fill="#7A786E"></path>
        <path
          d="M119.248 14.3021L117.637 12.4821L122.857 6.84205H126.059L119.248 14.3021ZM116.679 16.8421V2.84204H119.37V16.8421H116.679ZM123.204 16.8421L119.819 12.0021L121.573 10.1821L126.365 16.8421H123.204Z"
          fill="#7A786E"></path>
      </svg>
    </a>
  </div> -->
</nav>

<style>
  nav {
    background-color: var(--background);
    width: 100%;
    padding-top: var(--spacing-6);
    padding-bottom: var(--spacing-6);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 18px;
      vertical-align: sub;
    }

    a {
      display: flex;
      align-items: center;
    }

    div {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);

      span {
        color: var(--foreground-neutral-3);
      }
    }
  }
</style>
