<nav>
  <img src="/images/outpost-logo.svg" alt="Outpost Logo" />
  <a href="https://github.com/hookdeck/outpost" target="_blank"
    ><svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M7.50764 3.12869C9.14632 2.73809 10.8539 2.73809 12.4926 3.12869C13.4413 2.52107 14.1668 2.24916 14.6856 2.13637C14.9619 2.0763 15.1784 2.06167 15.3368 2.06519C15.4158 2.06694 15.4799 2.07321 15.5291 2.0804C15.5537 2.084 15.5746 2.08781 15.5917 2.09139C15.6002 2.09318 15.6078 2.0949 15.6145 2.09651L15.6238 2.09882L15.6279 2.0999L15.6298 2.10041L15.6308 2.10066C15.6312 2.10079 15.6317 2.10091 15.5001 2.58329L15.6317 2.10091C15.7759 2.14024 15.895 2.24203 15.9562 2.37838C16.3465 3.24693 16.4127 4.22285 16.1495 5.13098C16.8035 5.90827 17.1658 6.89379 17.1668 7.91612L17.1668 7.91663C17.1668 9.93665 16.5693 11.2795 15.5774 12.1384C14.8151 12.7984 13.8678 13.1291 12.9149 13.303C12.9396 13.38 12.9586 13.4596 12.9725 13.5428C13.0111 13.7743 13.007 14.0465 13.0028 14.3226C13.0015 14.4095 13.0001 14.4968 13.0001 14.5833V17.5C13.0001 17.7761 12.7763 18 12.5001 18C12.224 18 12.0001 17.7761 12.0001 17.5V14.5833C12.0001 14.4394 12.0019 14.3199 12.0033 14.2179C12.0067 13.9853 12.0088 13.8431 11.9861 13.7072C11.9642 13.576 11.9186 13.4589 11.7299 13.2702C11.5938 13.134 11.5479 12.9318 11.612 12.7502C11.6761 12.5686 11.8387 12.44 12.0302 12.4195C13.1636 12.298 14.185 12.0213 14.9228 11.3824C15.6393 10.7621 16.1668 9.72994 16.1668 7.91663C16.1658 7.05084 15.8279 6.21941 15.2248 5.59829C15.0899 5.4594 15.0473 5.25513 15.1155 5.07392C15.3585 4.42798 15.3703 3.72115 15.1546 3.072C15.0852 3.07883 14.9998 3.09142 14.898 3.11355C14.492 3.20181 13.8202 3.44308 12.8608 4.08265C12.7422 4.16174 12.5954 4.18642 12.4574 4.15049C10.8461 3.73083 9.15415 3.73083 7.54281 4.15049C7.40484 4.18642 7.25808 4.16174 7.13945 4.08265C6.18009 3.44308 5.50827 3.20181 5.10225 3.11355C5.00046 3.09142 4.91507 3.07883 4.84565 3.072C4.63 3.72115 4.64181 4.42798 4.88478 5.07392C4.95295 5.25513 4.91037 5.4594 4.77549 5.59829C4.17228 6.21945 3.83443 7.05095 3.83346 7.9168C3.8335 9.73001 4.36101 10.7621 5.07742 11.3824C5.8153 12.0213 6.83666 12.298 7.97006 12.4195C8.16153 12.44 8.32419 12.5686 8.38829 12.7502C8.45238 12.9318 8.40651 13.134 8.27035 13.2702C8.08701 13.4535 8.01287 13.6147 7.98072 13.7819C7.94468 13.9693 7.95524 14.1931 7.99627 14.5213C7.99884 14.5418 8.00013 14.5626 8.00013 14.5833V15.8218C8.00031 15.8296 8.00031 15.8373 8.00013 15.845V17.5C8.00013 17.7761 7.77627 18 7.50013 18C7.22399 18 7.00013 17.7761 7.00013 17.5V16.4855C6.33315 16.6255 5.76506 16.613 5.2717 16.475C4.62095 16.293 4.16236 15.91 3.81033 15.5051C3.58929 15.2509 3.37941 14.9454 3.20119 14.686C3.11748 14.5642 3.04075 14.4525 2.97314 14.3611C2.72618 14.0272 2.54431 13.8675 2.35905 13.813C2.09413 13.7351 1.94253 13.4571 2.02045 13.1922C2.09837 12.9273 2.37629 12.7757 2.64121 12.8536C3.16429 13.0075 3.51366 13.4102 3.77712 13.7664C3.88898 13.9177 3.98542 14.059 4.07805 14.1947C4.23291 14.4217 4.37713 14.633 4.56493 14.849C4.83791 15.1629 5.13973 15.3997 5.54106 15.5119C5.88706 15.6087 6.35222 15.6254 7.00013 15.4588V14.6141C6.95987 14.2848 6.93268 13.9364 6.99871 13.593C7.01785 13.4935 7.04432 13.3965 7.07882 13.3018C6.12813 13.1276 5.1834 12.7969 4.42284 12.1384C3.43094 11.2795 2.83346 9.93665 2.83346 7.91663L2.83346 7.91612C2.83451 6.89379 3.19681 5.90828 3.85074 5.13098C3.58755 4.22285 3.65381 3.24693 4.04405 2.37838C4.10531 2.24203 4.22436 2.14024 4.36857 2.10091L4.50013 2.58329C4.36857 2.10091 4.36903 2.10079 4.36948 2.10066L4.37041 2.10041L4.37234 2.0999L4.37647 2.09882L4.38577 2.09651C4.39244 2.0949 4.40005 2.09318 4.40861 2.09139C4.42571 2.08781 4.44655 2.084 4.47116 2.0804C4.52041 2.07321 4.58445 2.06694 4.6635 2.06519C4.82187 2.06167 5.03833 2.0763 5.31468 2.13637C5.8335 2.24916 6.55898 2.52107 7.50764 3.12869Z"
      ></path>
    </svg>

    <span class="regular-m">STAR ON GITHUB</span></a
  >
</nav>

<style>
  nav {
    background-color: var(--background);
    width: 100%;
    padding-top: var(--spacing-7);
    padding-bottom: var(--spacing-7);
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      height: 18px;
      vertical-align: sub;
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: var(--spacing-2);

      span {
        color: var(--foreground-neutral-3);
      }

      svg {
        fill: var(--foreground-neutral-3);
      }
      &:hover {
        span {
          color: var(--foreground-neutral-2);
        }
        svg {
          fill: var(--foreground-neutral-2);
        }
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);

      span {
        color: var(--foreground-neutral-3);
      }
    }
  }
</style>
