.destination-events {
  margin-top: var(--spacing-5);
  margin-bottom: var(--spacing-20);

  h2 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    justify-content: space-between;

    &-filters {
      display: flex;
      align-items: center;
      gap: var(--spacing-3);
    }

    &-title .badge {
      color: currentColor;
    }
  }

  &__table {
    margin-top: var(--spacing-4);
    position: relative;
    display: grid;
    min-height: 713px;

    .event-time-cell {
      text-transform: uppercase;
    }

    .table {
      height: 100%;

      &__body-cell > * {
        padding: var(--spacing-3) var(--spacing-4);
        
        .button__minimal {
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-2);

        nav {
          display: flex;
          align-items: center;
          gap: var(--spacing-2);
        }
      }

      [data-active="true"] {
        box-shadow: inset 0 0 0 2px var(--colors-outline-primary-focus);
        background-color: var(--colors-background-container-primary);
      }
    }

    &--active {
      grid-template-columns: 1fr 516px;

      .table {
        height: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .drawer {
        height: 100%;
        overflow: auto;
        display: grid;
        grid-template-rows: auto 1fr;
        border: 1px solid var(--colors-outline-neutral);
        border-top-right-radius: var(--radius-m);
        border-bottom-right-radius: var(--radius-m);

        &__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: var(--spacing-2);
          padding: var(--spacing-5) var(--spacing-6);

          &-tabs {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);

            button.button__minimal {
              padding: var(--spacing-1) var(--spacing-2);

              &.active {
                background-color: var(--colors-background-neutral-2);

                > span {
                  color: var(--colors-foreground-neutral);
                }
              }
            }
          }

          &-actions {
            display: flex;
            align-items: center;
            gap: var(--spacing-2);
          }
        }

        &__body {
          overflow: auto;
          min-height: 0;
        }
      }
    }
  }
}

.event-data {
  height: 100%;
  box-sizing: border-box;

  &__overview {
    padding: var(--spacing-3) var(--spacing-6);
    border-bottom: 1px solid var(--colors-outline-neutral);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__data {
    padding: var(--spacing-3) var(--spacing-6);
    border-bottom: 1px solid var(--colors-outline-neutral);
    background-color: var(--colors-background-neutral-2);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    pre {
      white-space: break-spaces;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &__metadata {
    padding: var(--spacing-3) var(--spacing-6);
    border-bottom: 1px solid var(--colors-outline-neutral);
    background-color: var(--colors-background-neutral-2);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    pre {
      white-space: break-spaces;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}

.event-attempts {
  height: 100%;
  box-sizing: border-box;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: var(--spacing-2) var(--spacing-6);
      border-bottom: 1px solid var(--colors-outline-neutral);
      position: relative;

      &:hover {
        background-color: var(--colors-background-neutral-1);
      }

      button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }

      &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-2);

        & > span:first-child {
          display: flex;
          align-items: center;
          gap: var(--spacing-2);

          :first-child {
            width: 96px;
          }

          .mono-s {
            text-transform: uppercase;
          }
        }

        & > span:last-child {
          display: flex;
          align-items: center;
          gap: var(--spacing-2);

          .icon-container {
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              fill: var(--colors-foreground-neutral-2);
              width: 16px;
              height: 16px;
            }
          }
        }

        svg {
          fill: var(--colors-foreground-neutral);
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

.event-attempt-details {
  height: 100%;
  box-sizing: border-box;

  &__overview {
    padding: var(--spacing-3) var(--spacing-6);
    border-bottom: 1px solid var(--colors-outline-neutral);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__message {
    padding: var(--spacing-3) var(--spacing-6);
    border-bottom: 1px solid var(--colors-outline-neutral);
    background-color: var(--colors-background-neutral-2);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    > pre {
      white-space: break-spaces;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  &__result {
    padding: var(--spacing-3) var(--spacing-6);
    background-color: var(--colors-background-neutral-2);

    > h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    > pre {
      white-space: break-spaces;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}

dl.description-list {
  margin-top: 0;
  margin-bottom: 0;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-2);
    padding-top: var(--spacing-4);
    padding-bottom: var(--spacing-4);
    border-bottom: 1px solid var(--colors-outline-neutral);

    &:last-child {
      border-bottom: none;
    }

    dt {
      color: var(--colors-foreground-neutral-2);
    }

    dd.time {
      text-transform: uppercase;
    }
  }
}
