.destination-events {
  margin-top: var(--spacing-5);

  h2 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    justify-content: space-between;

    &-filters {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
    }
  }

  &__table {
    margin-top: var(--spacing-4);
  }
}
