.create-destination {
  display: grid;
  grid-template-columns: 272px 1fr;
  width: 100%;
  gap: 132px;
  padding-top: calc(var(--base-grid-multiplier) * 18);
  margin: 0 auto;
  flex-direction: row;
  height: 100vh;

  &__sidebar {
    display: flex;
    flex-direction: column;

    &__steps {
      margin-top: var(--spacing-8);
      margin-left: var(--spacing-2);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-4);
      position: relative;
      &::before {
        content: "";
        z-index: 0;
        position: absolute;
        top: 1px;
        left: calc(var(--spacing-1) + 11.5px);
        bottom: 1px;
        border-left: 1px dashed var(--colors-outline-neutral);
      }

      &__step {
        z-index: 1;
        display: flex;
        align-items: center;
        gap: var(--spacing-3);
        text-decoration: none;
        font-weight: 500;
        font-size: var(--font-size-m);
        line-height: var(--line-height-m);
        color: var(--colors-foreground-neutral-3);
        background: none;
        border: none;
        cursor: pointer;

        &.active {
          color: var(--colors-foreground-primary);
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--base-grid-multiplier) * 18);
    padding-bottom: var(--spacing-8);
    box-sizing: border-box;

    h1 {
      margin-top: 64px;
      margin-bottom: 0;
      ~ p {
        margin-top: 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      margin-bottom: var(--spacing-16);
    }

    &__fields {
      flex: 0 1 auto;
      max-height: 100%;
    }

    &__actions {
      margin-top: var(--spacing-8);
      display: flex;
      justify-content: flex-end;
    }
  }
}

.destination-types {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.destination-type-card {
  cursor: pointer;
  position: relative;
  border: 1px solid var(--colors-outline-neutral);
  border-radius: var(--radius-m);

  &:has(input[type="radio"]:checked) {
    border-color: var(--colors-outline-primary-focus);
    outline: 1px solid var(--colors-outline-primary-focus);
  }

  &:hover {
    border-color: var(--colors-outline-primary-focus);
    outline: 1px solid var(--colors-outline-primary-focus);
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .destination-type-content {
    padding: var(--spacing-4);

    &__icon {
      display: flex;
      align-items: center;
      svg {
        display: inline-block;
        width: 20px;
        height: 20px;
      }
    }

    h3 {
      display: flex;
      align-items: center;
      gap: var(--spacing-2);
      margin: 0;
      margin-bottom: var(--spacing-1);
    }

    p {
      margin: 0;
    }
  }
}
